<section class="cdx-blog-area-7 cdx-pb-120">
    <div class="container">
        <div class="cdx-section-heading text-center cdx-pb-40">
            <h2 class="cdx-section-title cdx-dark">Credible testimonials from Our customers</h2>
        </div>
        <div class="row justify-content-center gy-4">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!-- Article-->
                <article class="cdx-blog-item-7">
                    <div class="cdx-thumb-wrap">
                        <img class="cdx-thumb" src="assets/images/home-7/blog/blog-1.webp" alt="Blog" />
                    </div>
                    <div class="cdx-details">
                        <ul class="cdx-meta">
                            <li class="cdx-meta-item">March 16, 2024</li>
                            <li class="cdx-meta-item-2">02 Min</li>
                        </ul>
                        <h3><a class="cdx-section-title-sm" href="blog-detail.html">Turn Ideas into Images with the Power of AI.</a></h3>
                        <a class="btn-secondary-seven" href="blog-detail.html">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!-- Article-->
                <article class="cdx-blog-item-7">
                    <div class="cdx-thumb-wrap">
                        <img class="cdx-thumb" src="assets/images/home-7/blog/blog-2.webp" alt="Blog" />
                    </div>
                    <div class="cdx-details">
                        <ul class="cdx-meta">
                            <li class="cdx-meta-item">March 16, 2024</li>
                            <li class="cdx-meta-item-2">02 Min</li>
                        </ul>
                        <h3><a class="cdx-section-title-sm" href="blog-detail.html">Turn Ideas into Images with the Power of AI.</a></h3>
                        <a class="btn-secondary-seven" href="blog-detail.html">Read More</a>
                    </div>
                </article>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <!-- Article-->
                <article class="cdx-blog-item-7">
                    <div class="cdx-thumb-wrap">
                        <img class="cdx-thumb" src="assets/images/home-7/blog/bloge-3.webp" alt="Blog" />
                    </div>
                    <div class="cdx-details">
                        <ul class="cdx-meta">
                            <li class="cdx-meta-item">March 16, 2024</li>
                            <li class="cdx-meta-item-2">02 Min</li>
                        </ul>
                        <h3><a class="cdx-section-title-sm" href="blog-detail.html">Turn Ideas into Images with the Power of AI.</a></h3>
                        <a class="btn-secondary-seven" href="blog-detail.html">Read More</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>