<section class="cdx-blog-area-8 cdx-pt-120 cdx-pb-120">
    <div class="container">
        <div class="cdx-section-heading">
            <h2 class="cdx-section-title cdx-dark">Trending news & recent Developments.</h2>
            <button class="btn-primary-eight cdx-hover-alernate">
                <span class="cdx-btn-effect">Learn more blogs</span>
            </button>
        </div>
        <div class="row justify-content-center gy-4 pt-5">
            <div class="col-lg-4 col-md-6">
                <article class="cdx-blog-item-8">
                    <div class="cdx-top">
                        <div class="cdx-thumb-wrap">
                            <img class="cdx-thumb" src="assets/images/home-8/blog/blog-img-1.webp" alt="image" />
                            <a class="cdx-btn-wrap" href="#">
                                <img class="cdx-icon" src="assets/images/home-8/icon/date.svg" alt="image" />
                                <span>July 28, 2024</span>
                            </a>
                        </div>
                    </div>
                    <div class="cdx-bottom">
                        <h2 class="cdx-section-title-xs text-gray">How To Build Powerful Generator Launch Responsive?</h2>
                        <div class="cdx-card-action">
                            <a class="cdx-btn-text" href="#">Read More</a>
                            <img src="assets/images/home-7/icon/service-arrow.svg" alt="icon" />
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-4 col-md-6">
                <article class="cdx-blog-item-8">
                    <div class="cdx-top">
                        <div class="cdx-thumb-wrap">
                            <img class="cdx-thumb" src="assets/images/home-8/blog/blog-img-2.webp" alt="image" />
                            <a class="cdx-btn-wrap" href="#">
                                <img class="cdx-icon" src="assets/images/home-8/icon/date.svg" alt="image" />
                                <span>July 28, 2024</span>
                            </a>
                        </div>
                    </div>
                    <div class="cdx-bottom">
                        <h2 class="cdx-section-title-xs text-gray">How To Build Powerful Generator Launch Responsive?</h2>
                        <div class="cdx-card-action">
                            <a class="cdx-btn-text" href="#">Read More</a>
                            <img src="assets/images/home-7/icon/service-arrow.svg" alt="icon" />
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-lg-4 col-md-6">
                <article class="cdx-blog-item-8">
                    <div class="cdx-top">
                        <div class="cdx-thumb-wrap">
                            <img class="cdx-thumb" src="assets/images/home-8/blog/blog-img-3.webp" alt="image" />
                            <a class="cdx-btn-wrap" href="#">
                                <img class="cdx-icon" src="assets/images/home-8/icon/date.svg" alt="image" />
                                <span>July 28, 2024</span>
                            </a>
                        </div>
                    </div>
                    <div class="cdx-bottom">
                        <h2 class="cdx-section-title-xs text-gray">How To Build Powerful Generator Launch Responsive?</h2>
                        <div class="cdx-card-action">
                            <a class="cdx-btn-text" href="#">Read More</a>
                            <img src="assets/images/home-7/icon/service-arrow.svg" alt="icon" />
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>