.cdx-footer-area-8 {
    background-image: url("../../assets/images/home-8/icon/footer-bg.svg");
    background-color: #1d2739;
    background-repeat: no-repeat;
    background-size: cover;
    .menu-wrap {
        padding-left: 20px;
        .menu-list {
            list-style: disc;
        }
    }
}
