/*=========================
    FOOTER CSS SIX
==========================*/
.cdx-footer-area-6 {
    background-color: var(--dark);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.cdx-instagram-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 260px;
    .cdx-instagram-item { 
        position: relative;
        box-shadow: 0px 4px 6px 0px rgba(16, 18, 33, 0.24);
        transition: var(--transition); 
        &:hover::before {
            width: 100%;
            height: 100%;
            border-radius: 0px;
        }
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0%;
            height: 0%;
            background: linear-gradient(180deg, #0EA9FA -1.09%, #1552B4 98.91%);
            content: "";
            border-radius: 100px;
            transform: translate(-50%, -50%);
            transition: var(--transition); 
        }
        &:hover {
            .cdx-instagram-icon { 
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .cdx-thumb-wrap {
        width: 80px;
        height: 80px;
    }
    .cdx-thumb {
        width: 100%;
    }
    .cdx-instagram-icon {
        position: absolute;
        top: 0%;
        left: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
        z-index: 9;
        width: 100%;
        height: 100%;
    }
}

.cdx-newsletter-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 15px 15px 15px 20px;
    .cdx-form-input {
        color: var(--gray-2); 
        font-size: 16px; 
        font-weight: 500; 
        letter-spacing: -0.32px;
        background-color: transparent;
        border: 0;
        outline: 0;
        &::placeholder {
            color: var(--gray-2); 
            font-size: 16px; 
            font-weight: 500; 
            letter-spacing: -0.32px;
            background-color: transparent;
        }
        &:focus { 
            border: 0;
        }
    }
    .cdx-btn-form {
        color: var(--dark);
        text-align: center; 
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.28px;
        display: inline-block;
        padding: 3px 11px;
        background: linear-gradient(95deg, #9FB5EE 0.26%, #DD8E36 51.12%, #36F3CF 98.01%);
        box-shadow: 0px 14px 20px 0px rgba(16, 18, 33, 0.20);
    }
}