<section class="cdx-testimonial-area-8 cdx-pb-120" style="background-image: url(assets/images/home-8/shape/background-shape.webp)">
    <div class="container">
        <div class="cdx-section-heading text-center cdx-pb-40">
            <h2 class="cdx-section-title cdx-dark text-center">Browse Testimonials From Our Customers.</h2>
        </div>
    </div>
    <!-- slider  -->
    <div class="swiper cdx-testimonial-slider-2 cdx-pb-30">
        <div class="swiper-wrapper">
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-1.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Max Conversion</h3>
                        <h4 class="cdx-subtitle">SEO Contain Writer</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-2.jpg" alt="image" />
                    </div>
                    <div class="decdx-tails">
                        <h3 class="cdx-title">Nathaneal Down</h3>
                        <h4 class="cdx-subtitle">Blogge</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-3.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Nigel Nigel</h3>
                        <h4 class="cdx-subtitle">President of Sales</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-4.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Nigel Nigel</h3>
                        <h4 class="cdx-subtitle">President of Sales</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-5.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Nathaneal Down</h3>
                        <h4 class="cdx-subtitle">Content Writer</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-6.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Russell Sprout</h3>
                        <h4 class="cdx-subtitle">Blog Writer</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-7.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Hanson Deck</h3>
                        <h4 class="cdx-subtitle">Marketer</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
        </div>
    </div>
    <!-- Slider dir right  -->
    <div class="swiper cdx-testimonial-slider-2 style-right" dir="rtl">
        <div class="swiper-wrapper">
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-1.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Max Conversion</h3>
                        <h4 class="cdx-subtitle">SEO Contain Writer</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-2.jpg" alt="image" />
                    </div>
                    <div class="decdx-tails">
                        <h3 class="cdx-title">Nathaneal Down</h3>
                        <h4 class="cdx-subtitle">Blogge</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-3.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Nigel Nigel</h3>
                        <h4 class="cdx-subtitle">President of Sales</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-4.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Nigel Nigel</h3>
                        <h4 class="cdx-subtitle">President of Sales</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-5.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Nathaneal Down</h3>
                        <h4 class="cdx-subtitle">Content Writer</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-6.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Russell Sprout</h3>
                        <h4 class="cdx-subtitle">Blog Writer</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
            <!-- slide -->
            <div class="swiper-slide cdx-testimonial-item-2">
                <div class="review">
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review.svg" alt="icon" />
                    <img class="icon" src="assets/images/home-2/icon/review-solid.svg" alt="icon" />
                </div>
                <p class="cdx-section-content-2">
                    Maecenas eget ullamcorper dolor placerat ipsum. Aliquam dictum massa eu libero vehicula, id dapibus ligula vulputate. Donec arcu
                    elit
                </p>
                <div class="cdx-imgbox-style-1">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img" src="assets/images/home-2/team/client-7.jpg" alt="image" />
                    </div>
                    <div class="cdx-details">
                        <h3 class="cdx-title">Hanson Deck</h3>
                        <h4 class="cdx-subtitle">Marketer</h4>
                    </div>
                </div>
                <img class="cdx-quote-icon" src="assets/images/home-8/icon/quote-icon.svg" alt="icon" />
            </div>
        </div>
    </div>
</section>