<section
    class="cdx-testimonial-area-nine cdx-pt-120 cdx-pb-120"
    style="background-image: url(&quot;assets/images/home-9/testimonial/testimonial-nine-bg.webp&quot;)"
>
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <div class="cdx-section-top text-center">
                    <h2 class="cdx-section-title-dark fw-bold">Browse Testimonials From Our Customers.</h2>
                </div>
            </div>
        </div>
        <div class="swiper cdx-testimonial-slider-9">
            <div class="swiper-wrapper">
                <!-- Single testimonial slide -->
                <div class="swiper-slide">
                    <article class="row cdx-testimonial-card-nine">
                        <div class="col-lg-8">
                            <div class="cdx-testimonial-content">
                                <div class="cdx-review" aria-label="5 out of 5 stars rating">
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                </div>
                                <blockquote class="cdx-section-content-5">
                                    Effective communication is key to building strong relationships and achieving success. Clear and concise language
                                    helps convey ideas efficiently. Active listening fosters understanding and trust. In both personal and
                                    professional settings.
                                </blockquote>
                                <div class="d-flex align-items-center justify-content-between cdx-mt-30">
                                    <div class="cdx-author">
                                        <div class="cdx-section-title-xxs cdx-author-name">Hermann P. Schnitzel</div>
                                        <div class="cdx-section-content-3 cdx-author-designation" aria-label="Author's role">Founder & CEO</div>
                                    </div>
                                    <img class="cdx-icon d-none d-md-block" src="assets/images/home-5/icon/quote.svg" alt="Icon" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block">
                            <figure class="cdx-testimonial-author">
                                <img
                                    class="cdx-testimonial-author-image"
                                    src="assets/images/home-9/testimonial/authros/author-one(420x420).webp"
                                    alt="Portrait of testimonial author"
                                    loading="lazy"
                                />
                            </figure>
                        </div>
                    </article>
                </div>
                <!-- Single testimonial slide -->
                <div class="swiper-slide">
                    <article class="row cdx-testimonial-card-nine">
                        <div class="col-lg-8">
                            <div class="cdx-testimonial-content">
                                <div class="cdx-review" aria-label="5 out of 5 stars rating">
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                    <img class="cdx-icon" src="assets/images/home-2/icon/review.svg" alt="Review star icon" role="presentation" />
                                </div>
                                <blockquote class="cdx-section-content-5">
                                    Effective communication is key to building strong relationships and achieving success. Clear and concise language
                                    helps convey ideas efficiently. Active listening fosters understanding and trust. In both personal and
                                    professional settings.
                                </blockquote>
                                <div class="d-flex align-items-center justify-content-between cdx-mt-30">
                                    <div class="cdx-author">
                                        <div class="cdx-section-title-xxs cdx-author-name">Hermann P. Schnitzel</div>
                                        <div class="cdx-section-content-3 cdx-author-designation" aria-label="Author's role">Founder & CEO</div>
                                    </div>
                                    <img class="cdx-icon d-none d-md-block" src="assets/images/home-5/icon/quote.svg" alt="Icon" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-none d-lg-block">
                            <figure class="cdx-testimonial-author">
                                <img
                                    class="cdx-testimonial-author-image"
                                    src="assets/images/home-9/testimonial/authros/author-one(420x420).webp"
                                    alt="Portrait of testimonial author"
                                    loading="lazy"
                                />
                            </figure>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>