/*=========================
    TESTIMONIAL CSS FOUR
==========================*/
.cdx-testimonial-area-6 {
	max-width: 1920px;
	margin: 0 auto;
	.cdx-section-heading {
		max-width: 640px;
		margin: 0 auto;
		text-align: center;
	}
}
