/*=========================
    Features CSS THREE
==========================*/
.cdx-features-area-3 {
	overflow: hidden;
	margin-top: -10%;
	@media #{$xxxl} {
		margin-top: -4%;
	}
	@media #{$lg} {
		margin-top: -15%;
	}
	.cdx-features-wrap {
		position: relative;
		.cdx-thumb {
			padding-left: 21%;
			@media #{$xxxl} {
				padding-left: 30%;
			}
		}
	}
	.cdx-btn-video {
		position: absolute;
		top: 45%;
		left: 50%;
	}

	&.features-shape-1 {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 100px;
			height: 275px;
			background-size: contain;
			background-repeat: no-repeat;
			flex-shrink: 0;
			background-image: url('../images/home-5/icon/shape-1.svg');
			left: 21%;
			top: 40%;
		}
	}
}
