/*=========================
    Features CSS ON
==========================*/
.cdx-features-area-1 {
   .cdx-features-wrap {
        display: flex;
        gap: 120px;
    }
    .cdx-features-right {
        display: flex;
        gap: 30px;
    }

}



