<section class="about-area pt-50">
    <div class="container">
        <img class="about-shape" src="assets/images/home-1/shape/about-shape.webp" alt="About" />
        <div class="row gy-5">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="left">
                    <img class="img-1" src="assets/images/home-1/thumb/about-1.webp" alt="About" />
                    <img class="img-2" src="assets/images/home-1/thumb/about-2.webp" alt="About" />
                    <img class="img-3" src="assets/images/home-1/thumb/about-3.webp" alt="About" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-11">
                <div class="right">
                    <img class="cdx-pb-20" src="assets/images/home-1/icon/intelligent.png" alt="Icon" />
                    <h2 class="cdx-section-title">
                        Grow Your Business With Intelligent Solutions
                        <span class="title-mark">Marketing Content.</span>
                    </h2>
                    <p class="cdx-section-content">
                        Cras tincidunt lobortis feugiat vivamus sagittis eu volutpa facilisis gravida neque convallis software.
                    </p>
                    <a class="btn-gradient-border" href="#">Get Started - It’s Free</a>
                </div>
            </div>
        </div>
    </div>
</section>