<section class="features-area-7 cdx-pt-120 cdx-pb-120 d-none" style="background-image: url(assets/images/home-7/features/background-img.webp)">
    <div class="container">
        <div class="row align-items-center gy-4">
            <div class="col-lg-6 col-md-12">
                <div class="cdx-features-left">
                    <img class="cdx-img" src="assets/images/home-7/features/features-img.webp" alt="img" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="cdx-features-right">
                    <h2 class="cdx-section-title cdx-dark">Find answers, faster</h2>
                    <p class="cdx-section-content-4">
                        Sed Mattis eros lectors, eu fermentum Felis laborites convallis. Nam Felis arco, sed mi Faubus quips. Fusco id dui nil. Sed ac
                        lorem a dolor incident suscept Poetesqueo.
                    </p>
                    <a class="btn-secondary-seven" href="#">Get Started - It’s Free</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cdx-box"></div>
</section>