<div class="cdx-client-area-7">
    <div class="container">
        <div class="swiper client-slider-7">
            <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide cdx-client-item-7">
                    <img class="client-logo" src="assets/images/home-7/logo/walmart.png" alt="Logo" />
                </div>
                <!-- Slide -->
                <div class="swiper-slide cdx-client-item-7">
                    <img class="client-logo" src="assets/images/home-7/logo/zetra.png" alt="Logo" />
                </div>
                <!-- Slide -->
                <div class="swiper-slide cdx-client-item-7">
                    <img class="client-logo" src="assets/images/home-7/logo/star.png" alt="Logo" />
                </div>
                <!-- Slide -->
                <div class="swiper-slide cdx-client-item-7">
                    <img class="client-logo" src="assets/images/home-7/logo/amazon.png" alt="Logo" />
                </div>
                <!-- Slide -->
                <div class="swiper-slide cdx-client-item-7">
                    <img class="client-logo" src="assets/images/home-7/logo/hubspot.png" alt="Logo" />
                </div>
                <!-- Slide -->
                <div class="swiper-slide cdx-client-item-7">
                    <img class="client-logo" src="assets/images/home-7/logo/walmart.png" alt="Logo" />
                </div>
                <!-- Slide -->
                <div class="swiper-slide cdx-client-item-7">
                    <img class="client-logo" src="assets/images/home-7/logo/star.png" alt="Logo" />
                </div>
            </div>
        </div>
    </div>
</div>
