<section class="cdx-call-to-action-7 @@class">
    <div class="container-fluid">
        <div class="cdx-section-wrap">
            <div class="cdx-left">
                <img src="assets/images/home-7/features/features-img.webp" alt="image" />
            </div>
            <div class="cdx-right">
                <h2 class="cdx-section-title cdx-dark">Find answers, faster</h2>
                <p class="cdx-section-content-2 text-gray">
                    Sed Mattis eros lectors, eu fermentum Felis laborites convallis. Nam Felis arco, sed mi Faubus quips. Fusco id dui nil. Sed ac
                    lorem a dolor incident suscept Poetesqueo.
                </p>
                <a href="index.html" class="btn-primary-seven">Get Started - It’s Free</a>
            </div>
        </div>
    </div>
</section>
