<section class="cdx-pricing-area-8 cdx-pt-120 cdx-pb-120">
    <div class="container">
        <div class="row justify-content-space-between gy-4 pb-5">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <h2 class="cdx-section-title cdx-dark">Flexible Pricing</h2>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="cdx-pricing-btn d-flex align-items-center justify-content-space-between text-end">
                    <div class="cdx-tabs-btn cdx-pricing-tab-nav">
                        <button type="button" class="cdx-tab-btn cdx-pricing-tab-btn active" data-tab="panel_annually_tab">
                            Annually
                            <span class="cdx-discount">-35%</span>
                        </button>
                        <button type="button" class="cdx-tab-btn cdx-pricing-tab-btn" data-tab="panel_monthly_tab">Monthly</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tab Panels -->
        <div class="cdx-tab-contents cdx-pricing-tab-content">
            <!-- Single tab content -->
            <div class="cdx-tab-item active" id="panel_monthly_tab">
                <div class="row g-0 gy-4 justify-content-center align-items-center">
                    <!-- Single price card -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="cdx-pricing-card-8">
                            <div class="cdx-pricing-top">
                                <div class="cdx-title-wrap">
                                    <img src="assets/images/home-8/icon/star.svg" alt="icon" />
                                    <h3 class="cdx-title">Basic Plan</h3>
                                </div>
                                <div class="cdx-price-wrap">
                                    <h4 class="cdx-price">$235</h4>
                                    <sub class="cdx-subscription">/month</sub>
                                </div>
                                <p class="cdx-section-content-2 text-gray pb-5">For large teams & corportaions</p>
                                <a href="#" class="btn-primary-eight cdx-hover-alernate w-max">
                                    <span class="cdx-btn-effect">Get Started</span>
                                </a>
                            </div>
                            <div class="cdx-pricing-bottom">
                                <ul class="cdx-list">
                                    <li class="cdx-list-item">20 Customer per month.</li>
                                    <li class="cdx-list-item">Project facilisis magna etiam.</li>
                                    <li class="cdx-list-item">Etiam cursus sit amet eros ut posuere.</li>
                                    <li class="cdx-list-item">Support euismod pulzinae.</li>
                                    <li class="cdx-list-item">Unlimited magna etiam tempors.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single price card -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="cdx-pricing-card-8">
                            <div class="cdx-pricing-top">
                                <div class="cdx-title-wrap">
                                    <img src="assets/images/home-8/icon/star.svg" alt="icon" />
                                    <h3 class="cdx-title">Business plan</h3>
                                </div>
                                <div class="cdx-price-wrap">
                                    <h4 class="cdx-price">$235</h4>
                                    <sub class="cdx-subscription">/month</sub>
                                </div>
                                <p class="cdx-section-content-2 text-gray pb-5">For large teams & corportaions</p>
                                <a href="#" class="btn-primary-eight cdx-hover-alernate w-max">
                                    <span class="cdx-btn-effect">Get Started</span>
                                </a>
                            </div>
                            <div class="cdx-pricing-bottom">
                                <ul class="cdx-list">
                                    <li class="cdx-list-item">20 Customer per month.</li>
                                    <li class="cdx-list-item">Project facilisis magna etiam.</li>
                                    <li class="cdx-list-item">Etiam cursus sit amet eros ut posuere.</li>
                                    <li class="cdx-list-item">Support euismod pulzinae.</li>
                                    <li class="cdx-list-item">Unlimited magna etiam tempors.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single price card -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="cdx-pricing-card-8">
                            <div class="cdx-pricing-top">
                                <div class="cdx-title-wrap">
                                    <img src="assets/images/home-8/icon/star.svg" alt="icon" />
                                    <h3 class="cdx-title">Enterprise plan</h3>
                                </div>
                                <div class="cdx-price-wrap">
                                    <h4 class="cdx-price">$235</h4>
                                    <sub class="cdx-subscription">/month</sub>
                                </div>
                                <p class="cdx-section-content-2 text-gray pb-5">For large teams & corportaions</p>
                                <a href="#" class="btn-primary-eight cdx-hover-alernate w-max">
                                    <span class="cdx-btn-effect">Get Started</span>
                                </a>
                            </div>
                            <div class="cdx-pricing-bottom">
                                <ul class="cdx-list">
                                    <li class="cdx-list-item">20 Customer per month.</li>
                                    <li class="cdx-list-item">Project facilisis magna etiam.</li>
                                    <li class="cdx-list-item">Etiam cursus sit amet eros ut posuere.</li>
                                    <li class="cdx-list-item">Support euismod pulzinae.</li>
                                    <li class="cdx-list-item">Unlimited magna etiam tempors.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single tab content -->
            <div class="cdx-tab-item" id="panel_annually_tab">
                <div class="row g-0 gy-4 justify-content-center">
                    <!-- Single price card -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="cdx-pricing-card-8">
                            <div class="cdx-pricing-top">
                                <div class="cdx-title-wrap">
                                    <img src="assets/images/home-8/icon/star.svg" alt="icon" />
                                    <h3 class="cdx-title">Basic Plan</h3>
                                </div>
                                <div class="cdx-price-wrap">
                                    <h4 class="cdx-price">$235</h4>
                                    <sub class="cdx-subscription">/Annually</sub>
                                </div>
                                <p class="cdx-section-content-2 text-gray pb-5">For large teams & corportaions</p>
                                <a href="#" class="btn-primary-eight cdx-hover-alernate w-max">
                                    <span class="cdx-btn-effect">Get Started</span>
                                </a>
                            </div>
                            <div class="cdx-pricing-bottom">
                                <ul class="cdx-list">
                                    <li class="cdx-list-item">20 Customer per month.</li>
                                    <li class="cdx-list-item">Project facilisis magna etiam.</li>
                                    <li class="cdx-list-item">Etiam cursus sit amet eros ut posuere.</li>
                                    <li class="cdx-list-item">Support euismod pulzinae.</li>
                                    <li class="cdx-list-item">Unlimited magna etiam tempors.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single price card -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="cdx-pricing-card-8">
                            <div class="cdx-pricing-top">
                                <div class="cdx-title-wrap">
                                    <img src="assets/images/home-8/icon/star.svg" alt="icon" />
                                    <h3 class="cdx-title">Business plan</h3>
                                </div>
                                <div class="cdx-price-wrap">
                                    <h4 class="cdx-price">$235</h4>
                                    <sub class="cdx-subscription">/Annually</sub>
                                </div>
                                <p class="cdx-section-content-2 text-gray pb-5">For large teams & corportaions</p>
                                <a href="#" class="btn-primary-eight cdx-hover-alernate w-max">
                                    <span class="cdx-btn-effect">Get Started</span>
                                </a>
                            </div>
                            <div class="cdx-pricing-bottom">
                                <ul class="cdx-list">
                                    <li class="cdx-list-item">20 Customer per month.</li>
                                    <li class="cdx-list-item">Project facilisis magna etiam.</li>
                                    <li class="cdx-list-item">Etiam cursus sit amet eros ut posuere.</li>
                                    <li class="cdx-list-item">Support euismod pulzinae.</li>
                                    <li class="cdx-list-item">Unlimited magna etiam tempors.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single price card -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="cdx-pricing-card-8">
                            <div class="cdx-pricing-top">
                                <div class="cdx-title-wrap">
                                    <img src="assets/images/home-8/icon/star.svg" alt="icon" />
                                    <h3 class="cdx-title">Enterprise plan</h3>
                                </div>
                                <div class="cdx-price-wrap">
                                    <h4 class="cdx-price">$235</h4>
                                    <sub class="cdx-subscription">/Annually</sub>
                                </div>
                                <p class="cdx-section-content-2 text-gray pb-5">For large teams & corportaions</p>
                                <a href="#" class="btn-primary-eight cdx-hover-alernate w-max">
                                    <span class="cdx-btn-effect">Get Started</span>
                                </a>
                            </div>
                            <div class="cdx-pricing-bottom">
                                <ul class="cdx-list">
                                    <li class="cdx-list-item">20 Customer per month.</li>
                                    <li class="cdx-list-item">Project facilisis magna etiam.</li>
                                    <li class="cdx-list-item">Etiam cursus sit amet eros ut posuere.</li>
                                    <li class="cdx-list-item">Support euismod pulzinae.</li>
                                    <li class="cdx-list-item">Unlimited magna etiam tempors.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>