<section class="cdx-pricing-area-7 cdx-pt-120 cdx-pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-12">
                <!-- Pricing card -->
                <div class="cdx-pricing-card-7">
                    <div class="pricing-title-wrap">
                        <h2 class="pricing-title">Basic Plan</h2>
                    </div>
                    <ul class="cdx-list">
                        <li class="cdx-list-item">
                            <img class="cdx-list-icon" src="assets/images/home-7/icon/pricing-icon.svg" alt="icon" />
                            Priority email & chat support 0
                        </li>
                        <li class="cdx-list-item">
                            <img class="cdx-list-icon" src="assets/images/home-7/icon/pricing-icon.svg" alt="icon" />
                            Access 12+ use-cases
                        </li>
                        <li class="cdx-list-item">
                            <img class="cdx-list-icon" src="assets/images/home-7/icon/pricing-icon.svg" alt="icon" />
                            Generate 1,000 AI Words / month
                        </li>
                        <li class="cdx-list-item">
                            <img class="cdx-list-icon" src="assets/images/home-7/icon/pricing-icon.svg" alt="icon" />
                            Google Docs style editor
                        </li>
                    </ul>
                    <div class="cdx-pricing-wrap">
                        <div class="cdx-price">
                            <h3 class="cdx-section-title cdx-dark">$24</h3>
                            <sub class="cdx-subscription">/Month</sub>
                        </div>
                        <a class="btn-secondary-seven" href="#">Get Started</a>
                    </div>
                </div>
                <!-- Pricing card -->
                <div class="cdx-pricing-card-7">
                    <div class="pricing-title-wrap">
                        <h2 class="pricing-title">Premium</h2>
                    </div>
                    <ul class="cdx-list">
                        <li class="cdx-list-item">
                            <img class="cdx-list-icon" src="assets/images/home-7/icon/pricing-icon.svg" alt="icon" />
                            Priority email & chat support 0
                        </li>
                        <li class="cdx-list-item">
                            <img class="cdx-list-icon" src="assets/images/home-7/icon/pricing-icon.svg" alt="icon" />
                            Access 12+ use-cases
                        </li>
                        <li class="cdx-list-item">
                            <img class="cdx-list-icon" src="assets/images/home-7/icon/pricing-icon.svg" alt="icon" />
                            Generate 1,000 AI Words / month
                        </li>
                        <li class="cdx-list-item">
                            <img class="cdx-list-icon" src="assets/images/home-7/icon/pricing-icon.svg" alt="icon" />
                            Google Docs style editor
                        </li>
                    </ul>
                    <div class="cdx-pricing-wrap">
                        <div class="cdx-price">
                            <h3 class="cdx-section-title cdx-dark">$58</h3>
                            <sub class="cdx-subscription">/Month</sub>
                        </div>
                        <a class="btn-secondary-seven" href="#">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="cdx-right">
                    <h3 class="cdx-section-title cdx-dark">Simple & flexible. Only pay for what you use.</h3>
                    <img class="cdx-img" src="assets/images/home-7/images/pricing-bach.webp" alt="icon" />
                </div>
            </div>
        </div>
    </div>
</section>