<footer class="footer-area cdx-footer-area-8 cdx-pt-100">
    <div class="container">
        <div class="row gy-5 gy-lg-0">
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="assets/images/home-1/logo/logo.svg" alt="Logo" />
                    </a>
                    <p class="cdx-section-content">Consectetur adipiscing elit sed do eiusmod tempor.</p>
                    <ul class="social-wrap pt-30">
                        <li class="social-list">
                            <a class="social-link-2" href="#" target="_blank">LinkedIn</a>
                        </li>
                        <li class="social-list">
                            <a class="social-link-2" href="#" target="_blank">Facebook</a>
                        </li>
                        <li class="social-list">
                            <a class="social-link-2" href="#" target="_blank">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Solutions</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Businesses</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Bookkeepers</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Franchises</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Universities</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">E-commerce</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Product</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Features</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Consolidations</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Reporting</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Integrations</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Newsletter</h3>
                    <p class="cdx-section-content pt-0">Register now to get latest updates on promotions & coupons.</p>
                    <form action="/" class="newsletter-form gray-border">
                        <input class="input-search" type="email" name="email" placeholder="Enter your email" />
                        <button class="btn-primary-eight cdx-hover-alernate">
                            <span class="cdx-btn-effect">Subscribe</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-btm d-flex align-items-center justify-content-md-between justify-content-center flex-md-row flex-column gap-3 pt-3">
            <p>© 2025 Codexshaper All rights reserved.</p>
            <ul class="privacy-menu">
                <li class="menu-list"><a class="menu-link" href="#">Privacy Policy</a></li>
                <li class="menu-list"><a class="menu-link" href="#">Term of Service</a></li>
            </ul>
        </div>
    </div>
</footer>