<footer class="footer-area-7 cdx-pt-120 pb-3">
    <div class="container">
        <div class="row gy-5">
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="assets/images/home-1/logo/logo.svg" alt="Logo" />
                    </a>
                    <p class="cdx-section-content">Cras incident lobotids feudist makes viramas.</p>
                    <ul class="social-wrap pt-30">
                        <li class="social-list">
                            <a class="social-link" href="#" target="_blank">
                                <img class="icon" src="assets/images/home-1/icon/facebook-icon.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-link" href="#" target="_blank">
                                <img class="icon" src="assets/images/home-1/icon/twitter.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-link" href="#" target="_blank">
                                <img class="icon" src="assets/images/home-1/icon/linkedin.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-link" href="#" target="_blank">
                                <img class="icon" src="assets/images/home-1/icon/pinterest.svg" alt="Social" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Services</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Home</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Work</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Agency</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">team</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">containt</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">About</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">About Us</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Service Services</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Services</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Contact</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Single Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Product</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">HubSpot Piaggio</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Starship Up</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Nexus Rover</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Echo Bolt</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Nexus Rover</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h2 class="widget-title">Instagram</h2>
                    <div class="cdx-instagram-list">
                        <div class="cdx-instagram-item">
                            <div class="cdx-thumb-wrap">
                                <img class="cdx-thumb" src="assets/images/home-6/gallery/instagram-1.webp" alt="Gallery" />
                            </div>
                            <a class="cdx-instagram-icon" href="https://www.instagram.com/" target="_blank">
                                <img src="assets/images/home-6/icons/instagram-icon.svg" alt="Icon" />
                            </a>
                        </div>
                        <div class="cdx-instagram-item">
                            <div class="cdx-thumb-wrap">
                                <img class="cdx-thumb" src="assets/images/home-6/gallery/instagram-2.webp" alt="Gallery" />
                            </div>
                            <a class="cdx-instagram-icon" href="https://www.instagram.com/" target="_blank">
                                <img src="assets/images/home-6/icons/instagram-icon.svg" alt="Icon" />
                            </a>
                        </div>
                        <div class="cdx-instagram-item">
                            <div class="cdx-thumb-wrap">
                                <img class="cdx-thumb" src="assets/images/home-6/gallery/instagram-3.webp" alt="Gallery" />
                            </div>
                            <a class="cdx-instagram-icon" href="https://www.instagram.com/" target="_blank">
                                <img src="assets/images/home-6/icons/instagram-icon.svg" alt="Icon" />
                            </a>
                        </div>
                        <div class="cdx-instagram-item">
                            <div class="cdx-thumb-wrap">
                                <img class="cdx-thumb" src="assets/images/home-6/gallery/instagram-4.webp" alt="Gallery" />
                            </div>
                            <a class="cdx-instagram-icon" href="https://www.instagram.com/" target="_blank">
                                <img src="assets/images/home-6/icons/instagram-icon.svg" alt="Icon" />
                            </a>
                        </div>
                        <div class="cdx-instagram-item">
                            <div class="cdx-thumb-wrap">
                                <img class="cdx-thumb" src="assets/images/home-6/gallery/instagram-5.webp" alt="Gallery" />
                            </div>
                            <a class="cdx-instagram-icon" href="https://www.instagram.com/" target="_blank">
                                <img src="assets/images/home-6/icons/instagram-icon.svg" alt="Icon" />
                            </a>
                        </div>
                        <div class="cdx-instagram-item">
                            <div class="cdx-thumb-wrap">
                                <img class="cdx-thumb" src="assets/images/home-6/gallery/instagram-6.webp" alt="Gallery" />
                            </div>
                            <a class="cdx-instagram-icon" href="https://www.instagram.com/" target="_blank">
                                <img src="assets/images/home-6/icons/instagram-icon.svg" alt="Icon" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-btm cdx-mt-120">
            <div class="container">
                <div class="cdx-footer-btm-wrap">
                    <p class="cdx-section-content-2">© 2024 Codexshaper All rights reserved.</p>
                    <ul class="privacy-menu">
                        <li class="menu-list"><a class="menu-link" href="#">Privacy Policy</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Term of Service</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>