<footer class="cdx-footer-area-2">
    <div class="container">
        <div class="cta-wrap-2">
            <div class="row gy-5">
                <div class="col-xl-8 col-lg-6 col-md-12">
                    <h2 class="cdx-section-title-2">Create magical images with Tech - AI.</h2>
                    <p class="cdx-section-content-3 pt-3 cdx-pb-40">
                        Quisque vitae odio id tellus ultricies egestaQuis id orci. In id us Nunc, ut faucibus ex. Etiam Enim ac nunc.
                    </p>
                    <div class="d-flex align-items-center gap-2">
                        <a class="cdx-btn-filled-3 cdx-hover-alernate" href="#">
                            <img class="cdx-btn-icon" src="assets/images/home-2/icon/apple.svg" alt="Icon" />
                            <span class="cdx-btn-effect">Apple Store</span>
                        </a>
                        <a class="cdx-btn-filled-3 style-dark cdx-hover-corners" href="#">
                            <img class="cdx-btn-icon" src="assets/images/home-2/icon/play-stor.svg" alt="Icon" />
                            <span class="cdx-btn-effect">Play Story</span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-12">
                    <div class="cdx-right">
                        <img class="cdx-img" src="assets/images/home-2/thumb/mini-robot.webp" alt="Image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-5 cdx-pb-120">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="assets/images/home-1/logo/logo.svg" alt="Logo" />
                    </a>
                    <p class="cdx-section-content-3 pt-3 cdx-pb-30">Cras incident lobotids feudist makes viramas.</p>
                    <ul class="cdx-social-style-2 pt-30">
                        <li class="cdx-social-list">
                            <a class="cdx-social-link" href="#" target="_blank">
                                <img class="cdx-social-icon" src="assets/images/home-1/icon/facebook-icon.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="cdx-social-list">
                            <a class="cdx-social-link" href="#" target="_blank">
                                <img class="cdx-social-icon" src="assets/images/home-1/icon/twitter.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="cdx-social-list">
                            <a class="cdx-social-link" href="#" target="_blank">
                                <img class="cdx-social-icon" src="assets/images/home-1/icon/linkedin.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="cdx-social-list">
                            <a class="cdx-social-link" href="#" target="_blank">
                                <img class="cdx-social-icon" src="assets/images/home-1/icon/pinterest.svg" alt="Social" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Product</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Chat by Tech - ai</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Tech Ai Reviews</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">50+ Templates</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">25+ Languages</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-3">
                <div class="footer-widget">
                    <h3 class="widget-title">Solutions</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Ecommerce</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">SaaS</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Marketplaces</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Finance</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Platforms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Resources</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Support Center</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Guides</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Customer Stories</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Blog</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Annual Conference</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Feeling Like Subscribe?</h3>
                    <p class="cdx-section-content-2 cdx-pb-30">235 Bowery, New York, NY 40882, United States</p>
                    <a class="cdx-info-link" href="mailto:example@gmail.com">
                        <img class="cdx-icon" src="assets/images/home-2/icon/mail.svg" alt="Icon" />
                        example@gmail.com
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-btm py-2">
        <div class="container">
            <div class="d-flex align-items-center justify-content-md-between justify-content-center flex-md-row flex-column gap-3">
                <p class="cdx-section-content">© 2025 Codexshaper All rights reserved.</p>
                <ul class="privacy-menu">
                    <li class="menu-list"><a class="menu-link" href="#">Privacy Policy</a></li>
                    <li class="menu-list"><a class="menu-link" href="#">Term of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>