<footer class="footer-area cdx-pt-120">
    <div class="container">
        <div class="footer-cta bg-cover gradient-border" hidden style="background-image: url(assets/images/home-1/bg/footer-top-bg.webp)">
            <div class="row align-items-center gy-3">
                <div class="col-lg-7 d-none d-md-block">
                    <h2 class="top-title">Ready To Meet Your Personal AI Writing Assistant?</h2>
                </div>
                <div class="col-lg-5">
                    <div class="d-flex align-items-center justify-content-lg-end justify-content-center gap-2">
                        <a class="btn-gradient-border" href="#">Purchase Now</a>
                        <a class="btn-gradient-border" href="#">Try It Free</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="assets/images/home-1/logo/logo.svg" alt="Logo" />
                    </a>
                    <p class="cdx-section-content">Cras incident lobotids feudist makes viramas.</p>
                    <ul class="social-wrap pt-30">
                        <li class="social-list">
                            <a class="social-link" href="#" target="_blank">
                                <img class="icon" src="assets/images/home-1/icon/facebook-icon.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-link" href="#" target="_blank">
                                <img class="icon" src="assets/images/home-1/icon/twitter.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-link" href="#" target="_blank">
                                <img class="icon" src="assets/images/home-1/icon/linkedin.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="social-list">
                            <a class="social-link" href="#" target="_blank">
                                <img class="icon" src="assets/images/home-1/icon/pinterest.svg" alt="Social" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Product</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Chat by Tech - ai</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Tech Ai Reviews</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">50+ Templates</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">25+ Languages</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Pricing</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Solutions</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Ecommerce</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">SaaS</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Marketplaces</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Finance</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Platforms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Resources</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Support Center</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Guides</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Customer Stories</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Blog</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Annual Conference</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Feeling Like Subscribe?</h3>
                    <form action="/" class="newsletter-form gradient-border">
                        <input class="input-search" type="email" name="email" placeholder="Enter your email" />
                        <button class="btn-submit gradient-border">Get</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-btm d-flex align-items-center justify-content-md-between justify-content-center flex-md-row flex-column gap-3">
            <p>© 2025 Codexshaper All rights reserved.</p>
            <ul class="privacy-menu">
                <li class="menu-list"><a class="menu-link" href="#">Privacy Policy</a></li>
                <li class="menu-list"><a class="menu-link" href="#">Term of Service</a></li>
            </ul>
        </div>
    </div>
</footer>