<footer class="cdx-footer-area-4">
    <div class="container">
        <div class="row cdx-pb-120 cdx-pt-60">
            <div class="pt-5 col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="assets/images/home-1/logo/logo.svg" alt="Logo" />
                    </a>
                    <p class="cdx-section-content">Cras incident lobotids feudist makes viramas.</p>
                    <ul class="cdx-contact-wrap">
                        <li class="cdx-item">
                            <div class="cdx-icon">
                                <img src="assets/images/home-4/icon/contact.svg" class="icon" alt="icon" />
                            </div>
                            <div class="cdx-content">
                                <a class="cdx-text" href="tel:+1552-956-9286">+1552 956 9286</a>
                            </div>
                        </li>
                        <li class="cdx-item">
                            <div class="cdx-icon">
                                <img src="assets/images/home-4/icon/mail.svg" alt="icon" />
                            </div>
                            <div class="cdx-content">
                                <a class="cdx-text" href="mailto:example@gmail.com">example@gmail.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pt-5 col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Services</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Managed IT Services</a>
                        </li>
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Cloud Solutions</a>
                        </li>
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Network Services</a>
                        </li>
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Cyber Security</a>
                        </li>
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Backup & Recovery</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pt-5 col-xl-2 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Product</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">HubSpot Piaggio</a>
                        </li>
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Starship Up</a>
                        </li>
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Nexus Rover</a>
                        </li>
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Echo Bolt</a>
                        </li>
                        <li class="menu-list">
                            <a class="menu-link" href="service-detail.html">Nexus Rover</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pt-5 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="widget-title pb-0">Newsletter</h3>
                    <p class="cdx-section-content">Register now to get latest updates on promotions & coupons.</p>
                    <form>
                        <div class="cdx-form-style-4">
                            <div class="form-group mb-3">
                                <input required type="text" placeholder="Phone Number" class="form-input sm" />
                            </div>
                            <button class="cdx-btn-filled-2 cdx-hover-corners w-100">
                                <span class="cdx-btn-effect">Get a Consultation</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="cdx-footer-bottom-4">
            <p>© 2025 Codexshaper All rights reserved.</p>
            <ul class="social-wrap pt-30">
                <li class="social-list">
                    <a class="social-link" href="#" target="_blank">
                        <img class="icon" src="assets/images/home-1/icon/facebook-icon.svg" alt="Social" />
                    </a>
                </li>
                <li class="social-list">
                    <a class="social-link" href="#" target="_blank">
                        <img class="icon" src="assets/images/home-1/icon/twitter.svg" alt="Social" />
                    </a>
                </li>
                <li class="social-list">
                    <a class="social-link" href="#" target="_blank">
                        <img class="icon" src="assets/images/home-1/icon/linkedin.svg" alt="Social" />
                    </a>
                </li>
                <li class="social-list">
                    <a class="social-link" href="#" target="_blank">
                        <img class="icon" src="assets/images/home-1/icon/pinterest.svg" alt="Social" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>