<footer class="footer-area-5 cdx-pt-120">
    <div class="container">
        <div class="row align-items-center justify-content-between gy-4">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="footer-widget">
                    <img class="cdx-footer-main-img" src="assets/images/home-5/footer-5/footer-img.webp" alt="image" />
                    <a class="footer-images" href="#">
                        <img class="cdx-footer-img-btn" src="assets/images/home-5/footer-5/footer-paly button.svg" alt="icon" />
                        <button class="cdx-footer-btn">Get Started For Free</button>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="footer-widget ps-xl-5">
                    <a href="index.html">
                        <img src="assets/images/home-1/logo/logo.svg" alt="Logo" />
                    </a>
                    <p class="cdx-section-content">Consectetur adipiscing elit sed do eiusmod tempor.</p>
                    <div class="cdx-info-link">
                        <img class="cdx-icon" src="assets/images/home-5/footer-5/icon/phone.svg" alt="icon" />
                        <a href="#">+1552 956 9286</a>
                    </div>
                    <div class="cdx-info-link">
                        <img class="cdx-icon" src="assets/images/home-5/footer-5/icon/email.svg" alt="icon" />
                        <a href="#">example@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="footer-widget ps-xl-5">
                    <h3 class="widget-title">Services</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Managed IT Services</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Cloud Solutions</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Network Services</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Cyber Security</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Backup & Recovery</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="footer-widget ps-xl-5">
                    <h3 class="widget-title">Product</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">HubSpot Piaggio</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Starship Up</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Nexus Rover</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Echo Bolt</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Nexus Rover</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cdx-footer-shape">
            <img class="right-to-left-move" src="assets/images/home-5/shape/robot.webp" alt="icon" />
        </div>
        <div class="cdx-footer-bottom">
            <p>Copyright © 2024 All Rights Reserved</p>
            <ul class="social-wrap pt-30">
                <li class="social-list">
                    <a class="social-link" href="#" target="_blank">
                        <img class="icon" src="assets/images/home-1/icon/facebook-icon.svg" alt="Social" />
                    </a>
                </li>
                <li class="social-list">
                    <a class="social-link" href="#" target="_blank"><img class="icon" src="assets/images/home-1/icon/twitter.svg" alt="Social" /></a>
                </li>
                <li class="social-list">
                    <a class="social-link" href="#" target="_blank"><img class="icon" src="assets/images/home-1/icon/linkedin.svg" alt="Social" /></a>
                </li>
                <li class="social-list">
                    <a class="social-link" href="#" target="_blank">
                        <img class="icon" src="assets/images/home-1/icon/pinterest.svg" alt="Social" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Shape -->
    <img class="cdx-shape-1 move-bottom" src="assets/images/home-5/footer-5/elements_01.svg" alt="icon" />
    <img class="cdx-shape-2 move-right" src="assets/images/home-5/footer-5/elements_02.svg" alt="icon" />
    <img class="cdx-shape-3 move-right" src="assets/images/home-5/footer-5/robot.svg" alt="icon" />
</footer>