<footer class="footer-area cdx-pt-120 cdx-footer-area-9">
    <div class="container">
        <div class="footer-cta bg-cover gradient-border" hidden style="background-image: url(assets/images/home-1/bg/footer-top-bg.webp)">
            <div class="row align-items-center gy-3">
                <div class="col-lg-7 d-none d-md-block">
                    <h2 class="top-title">Ready To Meet Your Personal AI Writing Assistant?</h2>
                </div>
                <div class="col-lg-5">
                    <div class="d-flex align-items-center justify-content-lg-end justify-content-center gap-2">
                        <a class="btn-gradient-border" href="#">Purchase Now</a>
                        <a class="btn-gradient-border" href="#">Try It Free</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-xl-3 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <a href="index.html">
                        <img src="assets/images/home-9/logo/footer-logo.svg" alt="Logo" />
                    </a>
                    <p class="cdx-section-content">Cras incident lobotids feudist makes viramas.</p>
                    <ul class="cdx-social-style-2 style-gradient pt-30">
                        <li class="cdx-social-list">
                            <a class="cdx-social-link" href="#" target="_blank">
                                <img class="cdx-social-icon" src="assets/images/home-1/icon/facebook-icon.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="cdx-social-list">
                            <a class="cdx-social-link" href="#" target="_blank">
                                <img class="cdx-social-icon" src="assets/images/home-1/icon/twitter.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="cdx-social-list">
                            <a class="cdx-social-link" href="#" target="_blank">
                                <img class="cdx-social-icon" src="assets/images/home-1/icon/linkedin.svg" alt="Social" />
                            </a>
                        </li>
                        <li class="cdx-social-list">
                            <a class="cdx-social-link" href="#" target="_blank">
                                <img class="cdx-social-icon" src="assets/images/home-1/icon/pinterest.svg" alt="Social" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Utility Pages</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">Style Guide</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Protected Password</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">404 Not Found</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Changelog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Company</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">About</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Expertise</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">News & Media</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4">
                <div class="footer-widget">
                    <h3 class="widget-title">Use Cases</h3>
                    <ul class="menu-wrap">
                        <li class="menu-list"><a class="menu-link" href="#">For Teams</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">For Email Marketers</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">For Blog Writers</a></li>
                        <li class="menu-list"><a class="menu-link" href="#">For Social Managers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Contact Info</h3>
                    <p class="cdx-section-content pt-0">235 Bowery, New York, NY 40882, United States</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-btm footer-gradient">
        <div class="container d-flex align-items-center justify-content-md-between justify-content-center flex-md-row flex-column gap-3">
            <p>© 2025 Codexshaper All rights reserved.</p>
            <ul class="privacy-menu">
                <li class="menu-list"><a class="menu-link" href="#">Privacy Policy</a></li>
                <li class="menu-list"><a class="menu-link" href="#">Term of Service</a></li>
            </ul>
        </div>
    </div>
</footer>