<header class="cdx-navbar-area-8">
    <!-- top bar  -->
    <div class="cdx-nav-top-8">
        <span class="cdx-top-badge">Limited offer</span>
        <p class="cdx-top-text">Sign up and receive 20% bonus an checkout.</p>
    </div>
    <!-- nav  -->
    <div class="navbar">
        <div class="cdx-logo">
            <img src="assets/images/home-8/header/header.svg" alt="image" />
        </div>
        <nav class="navbar-menu">
            <ul class="nav-menu">
                <li class="menu-item menu-item-has-children">
                    <a class="menu-link" href="#">Home</a>
                    @@include('./_components/_home-list.html')
                </li>
                <li class="menu-item"><a class="menu-link" href="about.html">Features</a></li>
                <li class="menu-item menu-item-has-children">
                    <a class="menu-link" href="#">Process</a>
                    <ul class="sub-menu">
                        <li><a class="submenu-link" href="about.html">About Us</a></li>
                        <li><a class="submenu-link" href="service.html">Service Page</a></li>
                        <li><a class="submenu-link" href="servie-details.html">Service Details Page</a></li>
                        <li><a class="submenu-link" href="blog.html">Blog Page</a></li>
                        <li><a class="submenu-link" href="blog-details.html">Blog Details</a></li>
                        <li><a class="submenu-link" href="contact.html">Contact</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a class="menu-link" href="#">Pricing</a>
                    <ul class="sub-menu">
                        <li><a class="submenu-link" href="shop.html">Pricing</a></li>
                        <li><a class="submenu-link" href="shop-detail.html">Pricing Details</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a class="menu-link" href="#">Blog</a>
                    <ul class="sub-menu">
                        <li><a class="submenu-link" href="blog.html">Blog</a></li>
                        <li><a class="submenu-link" href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="nav-right">
            <a class="btn-underline cdx-text-16 cdx-fw-500" href="#">Sign in</a>
            <a class="cdx-text-16 cdx-fw-500" href="#">Book Demo</a>
            <a class="cdx-btn-fill-8" href="contact.html">Get Started</a>
        </div>
    </div>
</header>
