<header class="navbar-area">
    <div class="navbar-top">
        <p class="text text-center">Power of Artificial Intelligence - Special features for your services</p>
    </div>
    <div class="container-fluid">
        <div class="navbar">
            <a class="main-logo" href="index.html">
                <img src="assets/images/home-1/logo/logo.svg" alt="img" />
            </a>
            <nav class="navbar-menu">
                <ul class="nav-menu">
                    <li class="menu-item menu-item-has-children">
                        <a class="menu-link" href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a class="submenu-link" href="index.html">Home 01</a></li>
                            <li><a class="submenu-link" href="index-2.html">Home 02</a></li>
                            <li><a class="submenu-link" href="index-3.html">Home 03</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="about.html">Solution</a>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a class="menu-link" href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a class="submenu-link" href="about.html">About Us</a></li>
                            <li>
                                <a class="submenu-link" href="service.html">Service Page</a>
                            </li>
                            <li>
                                <a class="submenu-link" href="servie-details.html">Service Details Page</a>
                            </li>
                            <li><a class="submenu-link" href="blog.html">Blog Page</a></li>
                            <li>
                                <a class="submenu-link" href="blog-details.html">Blog Details</a>
                            </li>
                            <li><a class="submenu-link" href="contact.html">Contact</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a class="menu-link" href="#">Shop</a>
                        <ul class="sub-menu">
                            <li><a class="submenu-link" href="shop.html">Shop</a></li>
                            <li>
                                <a class="submenu-link" href="shop-detail.html">Shop Details</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a class="menu-link" href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a class="submenu-link" href="blog.html">Blog</a></li>
                            <li>
                                <a class="submenu-link" href="blog-details.html">Blog Details</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </nav>
            <div class="nav-right">
                <a class="btn-gradient-border" href="contact.html">Get in Touch</a>
            </div>
        </div>
    </div>
</header>

<!-- Offcanvas area start  -->
<div class="offcanvas offcanvas-end" id="offcanvasRight">
    <button type="button" class="offcanvas-icon" data-bs-dismiss="offcanvas" aria-label="Close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path
                d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"
            ></path>
        </svg>
    </button>
    <div class="offcanvas-inner">
        <div class="offcanvas-body">
            <div class="mobile_menu_nav">
                <ul class="menu_list">
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="index.html">Home 01</a></li>
                            <li class="menu-item">
                                <a href="index-2.html" aria-current="page">Home 02</a>
                            </li>
                            <li class="menu-item">
                                <a href="index-3.html" aria-current="page">Home 03</a>
                            </li>
                            <li class="menu-item">
                                <a href="index-4.html" aria-current="page">Home 04</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="about.html">About Us</a></li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Service</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="service.html">Service List</a>
                            </li>
                            <li class="menu-item">
                                <a href="service-details.html">Service Details</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="team.html">Team</a>
                            </li>
                            <li class="menu-item">
                                <a href="team-details.html">Team Details</a>
                            </li>
                            <li class="menu-item">
                                <a href="404.html">404</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li class="menu-item">
                                <a href="blog.html">Blog</a>
                            </li>
                            <li class="menu-item">
                                <a href="blog-details.html">Blog Details</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="contact.html">Conatct</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="offcanvas-bottom">
            <div class="offcanvas-copyright">
                <p class="mb-0 text-center">© Anthon 2024, Designed CodeXshaper</p>
            </div>
        </div>
    </div>
</div>
<!-- Offcanvas area end  -->