<header class="cdx-navbar-area-7">
    <div class="swiper cdx-navbar-top-7">
        <div class="swiper-wrapper">
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-1.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-2.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-3.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-4.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-5.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-1.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-2.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-2.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-2.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-2.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-2.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-5.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-3.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-2.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-3.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-4.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
            <!-- Slide -->
            <div class="swiper-slide cdx-marquee-slide">
                <img class="cdx-img" src="assets/images/home-7/header/header-top-4.jpg" alt="image" />
                <ul class="cdx-text-wrap">
                    <li class="cdx-text">
                        A smart and impressive conversation
                        <img class="icon" src="assets/images/home-7/icon/herader-icon.svg" alt="icon" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="navbar">
            <a class="main-logo" href="index.html">
                <img src="assets/images/home-7/header/header.svg" alt="img" />
            </a>
            <nav class="navbar-menu">
                <ul class="nav-menu">
                    <li class="menu-item menu-item-has-children">
                        <a class="menu-link" href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a class="submenu-link" href="index.html">Home 01</a></li>
                            <li><a class="submenu-link" href="index-2.html">Home 02</a></li>
                            <li><a class="submenu-link" href="index-3.html">Home 03</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a class="menu-link" href="about.html">Features</a></li>
                    <li class="menu-item menu-item-has-children">
                        <a class="menu-link" href="#">Process</a>
                        <ul class="sub-menu">
                            <li><a class="submenu-link" href="about.html">About Us</a></li>
                            <li><a class="submenu-link" href="service.html">Service Page</a></li>
                            <li><a class="submenu-link" href="servie-details.html">Service Details Page</a></li>
                            <li><a class="submenu-link" href="blog.html">Blog Page</a></li>
                            <li><a class="submenu-link" href="blog-details.html">Blog Details</a></li>
                            <li><a class="submenu-link" href="contact.html">Contact</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a class="menu-link" href="#">Pricing</a>
                        <ul class="sub-menu">
                            <li><a class="submenu-link" href="shop.html">Pricing</a></li>
                            <li><a class="submenu-link" href="shop-detail.html">Pricing Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-has-children">
                        <a class="menu-link" href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a class="submenu-link" href="blog.html">Blog</a></li>
                            <li><a class="submenu-link" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="nav-right">
                <a class="btn-underline" href="#">Sign in</a>
                <a class="btn-primary-seven" href="contact.html">Join Community</a>
            </div>
        </div>
    </div>
</header>
