/*=========================
   HEADER CSS FIVE
==========================*/
.cdx-navbar-area-9 {
    position: relative;
    z-index: 99;
    background-color: var(--white);
    box-shadow: 0px 2px 4px 0px rgba(16, 18, 33, 0.1);
    .navbar {
        padding: 12px 0px;
    }

    .nav-menu {
        @media #{$xl} {
            gap: 45px;
        }
    }

    .nav-menu .menu-link {
        color: var(--dark);
        &:hover {
            color: #9a20df;
        }
    }
    .nav-menu .menu-item-has-children:before {
        filter: invert(1);
    }
    .nav-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
