.cdx-language-support-area-1 {
    background: #101221;
    .cdx-section-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 75px;
        @media #{$xs} {
            flex-direction: column;
            margin-bottom: 30px;
            align-items: start;
        }
        .cdx-section-title {
            max-width: 610px;
            @media #{$xs} {
                margin-bottom: 30px;
            }
        }
    }
    .cdx-count-country {
        position: relative;
        padding-right: 45px;
        @media #{$xs} {
            position: inherit;
        }
        .cdx-count {
            color: var(--white);
            font-size: 100px;
            font-weight: 700;
            @media #{$md} {
                font-size: 70px;
            }
            @media #{$xs} {
                font-size: 50px;
            }
        }
        .cdx-count-text {
            color: var(--white);
            font-size: 20px;
            font-weight: 400;
            transform: translateY(-50%) rotate(-90deg);
            top: 50%;
            right: -24px;
            position: absolute;
            @media #{$md} {
                font-size: 17px;
            }
            @media #{$xs} {
                position: inherit;
                transform: none;
            }
        }
    }
}
.cdx-countries {
    .cdx-country {
        height: 60px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 10px;
        .cdx-country-name {
            color: var(--white);
            font-size: 14px;
            font-weight: 500;
        }

        &.dark {
            border: 1px solid rgba(16, 18, 33, 0.14);
            background: var(--white);
            .cdx-country-name {
                color: #101221;
            }
        }
    }

    .swiper-wrapper {
        transition-timing-function: linear;
    }
}

.country-slider-reverse {
    margin-top: 20px;
}
