<section class="cdx-service-area-11">
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/share.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Social media</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/share.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Social media</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/share.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Social media</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/share.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Social media</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/share.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Social media</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/share.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Social media</p>
        </div>
    </div>
</section>
