<section class="cdx-service-area-9 cdx-pt-120 cdx-pb-120">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <div class="cdx-section-top text-center">
                    <h2 class="cdx-section-title-dark fw-bold">Everyday Scenarios For AI Voice Generation.</h2>
                </div>
            </div>
        </div>
        <div class="row gy-4 justify-content-center">
            <!-- Single Service Card -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <article class="cdx-service-card-9">
                    <!-- Icon Section -->
                    <div class="cdx-icon-wrap" role="presentation">
                        <img class="cdx-icon" src="assets/images/home-9/icon/service-one.svg" alt="AI Frameworks Icon" loading="lazy" />
                    </div>
                    <!-- Title Section -->
                    <h3 class="cdx-section-title-sm">
                        <a href="#" class="service-link">
                            E-Learning
                            <span class="cxd-full-card-clickable" aria-hidden="true"></span>
                        </a>
                    </h3>
                    <!-- Description Section -->
                    <p class="cdx-section-content-2 text-gray">
                        Lorem Ipsum is simply dummy text printing etting zelit sed per morbi cidunt elit libero sed sollicitudin diam.
                    </p>
                    <!-- Action Button Section -->
                    <div class="cdx-card-action">
                        <a href="#" class="btn-tertiary-nine min-height-auto p-0" aria-label="Join our Community now">
                            Join Community
                            <span class="inline-btn-arrow">
                                <img
                                    src="assets/images/home-9/icon/service-arrow.svg"
                                    alt="Arrow right"
                                    class="icon-arrow"
                                    width="12"
                                    height="12"
                                    loading="lazy"
                                />
                            </span>
                        </a>
                    </div>
                </article>
            </div>
            <!-- Single Service Card -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <article class="cdx-service-card-9">
                    <!-- Icon Section -->
                    <div class="cdx-icon-wrap" role="presentation">
                        <img class="cdx-icon" src="assets/images/home-9/icon/service-two.svg" alt="AI Frameworks Icon" loading="lazy" />
                    </div>
                    <!-- Title Section -->
                    <h3 class="cdx-section-title-sm">
                        <a href="#" class="service-link">
                            354 Languages
                            <span class="cxd-full-card-clickable" aria-hidden="true"></span>
                        </a>
                    </h3>
                    <!-- Description Section -->
                    <p class="cdx-section-content-2 text-gray">
                        Lorem Ipsum is simply dummy text printing etting zelit sed per morbi cidunt elit libero sed sollicitudin diam.
                    </p>
                    <!-- Action Button Section -->
                    <div class="cdx-card-action">
                        <a href="#" class="btn-tertiary-nine min-height-auto p-0" aria-label="Join our Community now">
                            Join Community
                            <span class="inline-btn-arrow">
                                <img
                                    src="assets/images/home-9/icon/service-arrow.svg"
                                    alt="Arrow right"
                                    class="icon-arrow"
                                    width="12"
                                    height="12"
                                    loading="lazy"
                                />
                            </span>
                        </a>
                    </div>
                </article>
            </div>
            <!-- Single Service Card -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <article class="cdx-service-card-9">
                    <!-- Icon Section -->
                    <div class="cdx-icon-wrap" role="presentation">
                        <img class="cdx-icon" src="assets/images/home-9/icon/service-three.svg" alt="AI Frameworks Icon" loading="lazy" />
                    </div>
                    <!-- Title Section -->
                    <h3 class="cdx-section-title-sm">
                        <a href="#" class="service-link">
                            Audio Book
                            <span class="cxd-full-card-clickable" aria-hidden="true"></span>
                        </a>
                    </h3>
                    <!-- Description Section -->
                    <p class="cdx-section-content-2 text-gray">
                        Lorem Ipsum is simply dummy text printing etting zelit sed per morbi cidunt elit libero sed sollicitudin diam.
                    </p>
                    <!-- Action Button Section -->
                    <div class="cdx-card-action">
                        <a href="#" class="btn-tertiary-nine min-height-auto p-0" aria-label="Join our Community now">
                            Join Community
                            <span class="inline-btn-arrow">
                                <img
                                    src="assets/images/home-9/icon/service-arrow.svg"
                                    alt="Arrow right"
                                    class="icon-arrow"
                                    width="12"
                                    height="12"
                                    loading="lazy"
                                />
                            </span>
                        </a>
                    </div>
                </article>
            </div>
            <!-- Single Service Card -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <article class="cdx-service-card-9">
                    <!-- Icon Section -->
                    <div class="cdx-icon-wrap" role="presentation">
                        <img class="cdx-icon" src="assets/images/home-9/icon/service-four.svg" alt="AI Frameworks Icon" loading="lazy" />
                    </div>
                    <!-- Title Section -->
                    <h3 class="cdx-section-title-sm">
                        <a href="#" class="service-link">
                            Podcast Hosting
                            <span class="cxd-full-card-clickable" aria-hidden="true"></span>
                        </a>
                    </h3>
                    <!-- Description Section -->
                    <p class="cdx-section-content-2 text-gray">
                        Lorem Ipsum is simply dummy text printing etting zelit sed per morbi cidunt elit libero sed sollicitudin diam.
                    </p>
                    <!-- Action Button Section -->
                    <div class="cdx-card-action">
                        <a href="#" class="btn-tertiary-nine min-height-auto p-0" aria-label="Join our Community now">
                            Join Community
                            <span class="inline-btn-arrow">
                                <img
                                    src="assets/images/home-9/icon/service-arrow.svg"
                                    alt="Arrow right"
                                    class="icon-arrow"
                                    width="12"
                                    height="12"
                                    loading="lazy"
                                />
                            </span>
                        </a>
                    </div>
                </article>
            </div>
            <!-- Single Service Card -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <article class="cdx-service-card-9">
                    <!-- Icon Section -->
                    <div class="cdx-icon-wrap" role="presentation">
                        <img class="cdx-icon" src="assets/images/home-9/icon/service-five.svg" alt="AI Frameworks Icon" loading="lazy" />
                    </div>
                    <!-- Title Section -->
                    <h3 class="cdx-section-title-sm">
                        <a href="#" class="service-link">
                            Customization
                            <span class="cxd-full-card-clickable" aria-hidden="true"></span>
                        </a>
                    </h3>
                    <!-- Description Section -->
                    <p class="cdx-section-content-2 text-gray">
                        Lorem Ipsum is simply dummy text printing etting zelit sed per morbi cidunt elit libero sed sollicitudin diam.
                    </p>
                    <!-- Action Button Section -->
                    <div class="cdx-card-action">
                        <a href="#" class="btn-tertiary-nine min-height-auto p-0" aria-label="Join our Community now">
                            Join Community
                            <span class="inline-btn-arrow">
                                <img
                                    src="assets/images/home-9/icon/service-arrow.svg"
                                    alt="Arrow right"
                                    class="icon-arrow"
                                    width="12"
                                    height="12"
                                    loading="lazy"
                                />
                            </span>
                        </a>
                    </div>
                </article>
            </div>
            <!-- Single Service Card -->
            <div class="col-xl-4 col-lg-4 col-md-6">
                <article class="cdx-service-card-9">
                    <!-- Icon Section -->
                    <div class="cdx-icon-wrap" role="presentation">
                        <img class="cdx-icon" src="assets/images/home-9/icon/service-six.svg" alt="AI Frameworks Icon" loading="lazy" />
                    </div>
                    <!-- Title Section -->
                    <h3 class="cdx-section-title-sm">
                        <a href="#" class="service-link">
                            Natural Sounding
                            <span class="cxd-full-card-clickable" aria-hidden="true"></span>
                        </a>
                    </h3>
                    <!-- Description Section -->
                    <p class="cdx-section-content-2 text-gray">
                        Lorem Ipsum is simply dummy text printing etting zelit sed per morbi cidunt elit libero sed sollicitudin diam.
                    </p>
                    <!-- Action Button Section -->
                    <div class="cdx-card-action">
                        <a href="#" class="btn-tertiary-nine min-height-auto p-0" aria-label="Join our Community now">
                            Join Community
                            <span class="inline-btn-arrow">
                                <img
                                    src="assets/images/home-9/icon/service-arrow.svg"
                                    alt="Arrow right"
                                    class="icon-arrow"
                                    width="12"
                                    height="12"
                                    loading="lazy"
                                />
                            </span>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>