<section class="cdx-service-area-11">
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/share.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Social media</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/copywriting.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Copywriting</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/seo.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">SEO Marketing</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/blog-writing.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Blog Writing</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/email-marketing.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Email Marketing</p>
        </div>
    </div>
    <!-- card  -->
    <div class="cdx-service-card-11">
        <div class="cdx-icon">
            <img src="assets/images/home-8/icon/content-strategy.svg" alt="icon" />
        </div>
        <div class="cdx-content">
            <p class="cdx-text">Content Strategy</p>
        </div>
    </div>
</section>