<section class="service-area cdx-pt-120 cdx-pb-120" id="service">
    <div class="container">
        <div class="service-heading text-center mb-60">
            <h2 class="cdx-section-title">
                <span class="title-mark">Our Services</span>
            </h2>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!-- Service card -->
                <div class="cdx-service-card">
                    <img class="icon" src="assets/images/home-1/icon/service-icon-1.png" alt="Icon" />
                    <h3><a class="title" href="#">Ai Consulting Services</a></h3>
                    <p class="text">Imperdiet leo in arcu luctus non nunc moles.</p>
                    <a class="btn-arrow" href="#">
                        Read More
                        <img class="btn-icon" src="assets/images/home-1/icon/arrow-up.svg" alt="Icon" />
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!-- Service card -->
                <div class="cdx-service-card">
                    <img class="icon" src="assets/images/home-1/icon/service-icon-2.png" alt="Icon" />
                    <h3><a class="title" href="#">Intelligent Automation</a></h3>
                    <p class="text">Imperdiet leo in arcu luctus non nunc moles.</p>
                    <a class="btn-arrow" href="#">
                        Read More
                        <img class="btn-icon" src="assets/images/home-1/icon/arrow-up.svg" alt="Icon" />
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!-- Service card -->
                <div class="cdx-service-card">
                    <img class="icon" src="assets/images/home-1/icon/service-icon-3.png" alt="Icon" />
                    <h3><a class="title" href="#">AI-Powered Solutions</a></h3>
                    <p class="text">Imperdiet leo in arcu luctus non nunc moles.</p>
                    <a class="btn-arrow" href="#">
                        Read More
                        <img class="btn-icon" src="assets/images/home-1/icon/arrow-up.svg" alt="Icon" />
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <!-- Service card -->
                <div class="cdx-service-card">
                    <img class="icon" src="assets/images/home-1/icon/service-icon-4.png" alt="Icon" />
                    <h3><a class="title" href="#">Ai Driven Services</a></h3>
                    <p class="text">Imperdiet leo in arcu luctus non nunc moles.</p>
                    <a class="btn-arrow" href="#">
                        Read More
                        <img class="btn-icon" src="assets/images/home-1/icon/arrow-up.svg" alt="Icon" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>