<section class="technology-area-7 cdx-pt-120">
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="cdx-technology-services">
                    <h2 class="cdx-section-title cdx-dark">Advanced AI-Powered Chatbots</h2>
                    <!-- Technology item -->
                    <div class="cdx-technology-item">
                        <div class="cdx-wrap">
                            <img class="cdx-icon" src="assets/images/home-7/icon/chatbot-one.svg" alt="icon" />
                            <div class="cdx-details">
                                <h3 class="cdx-title">Access and set up</h3>
                                <p class="cdx-section-content-4">
                                    Quisque vitae odio id tellus ultricies egestas quis id orci. In varius nunc, ut faucibus ex. Etiam ac enim ac nunc
                                    laore
                                </p>
                            </div>
                        </div>
                        <div class="cdx-line"></div>
                        <div class="cdx-wrap">
                            <img class="cdx-icon" src="assets/images/home-7/icon/chatbot-two.svg" alt="icon" />
                            <div class="cdx-details">
                                <h3 class="cdx-title">Sign-up and Installation</h3>
                                <p class="cdx-section-content-4">
                                    Quisque vitae odio id tellus ultricies egestas quis id orci. In varius nunc, ut faucibus ex. Etiam ac enim ac nunc
                                    laore
                                </p>
                            </div>
                        </div>
                        <div class="cdx-line"></div>
                        <div class="cdx-wrap">
                            <img class="cdx-icon" src="assets/images/home-7/icon/chatbot--three.svg" alt="icon" />
                            <div class="cdx-details">
                                <h3 class="cdx-title">Sign-up and Installation</h3>
                                <p class="cdx-section-content-4">
                                    Quisque vitae odio id tellus ultricies egestas quis id orci. In varius nunc, ut faucibus ex. Etiam ac enim ac nunc
                                    laore
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="cdx-technology-img">
                    <div class="cdx-img-wrap">
                        <img class="cdx-img-1" src="assets/images/home-7/images/about-1.png" alt="image" />
                    </div>
                    <img class="cdx-img-2" src="assets/images/home-7/images/about-phone-2.png" alt="image" />
                </div>
            </div>
        </div>
    </div>
</section>
