<section class="cdx-technology-area cdx-pt-120 cdx-pb-120">
    <div class="container">
        <div class="row gy-5">
            <div class="col-xl-6 col-lg-8 col-md-11">
                <div class="left">
                    <img class="cdx-pb-20" src="assets/images/home-1/icon/ai.png" alt="Icon" />
                    <h2 class="cdx-section-title">
                        Integrate with Your
                        <span class="title-mark">Existing Platforms</span>
                    </h2>
                    <p class="cdx-section-content">
                        There are many variations of passages of Lorem Ipsum available but the majority have suffered Alteration in some form.
                    </p>
                    <a class="btn-gradient-border" href="#">Book a Demo</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="right">
                    <!-- Circular social  -->
                    <div class="circular-social-wrap">
                        <div class="circle-border circle-1">
                            <div class="icon-block">
                                <img class="icon" src="assets/images/home-1/icon/slack.png" alt="Icon" />
                            </div>
                            <div class="icon-block">
                                <img class="icon" src="assets/images/home-1/icon/google.png" alt="Icon" />
                            </div>
                            <div class="icon-block">
                                <img class="icon" src="assets/images/home-1/icon/layer.png" alt="Icon" />
                            </div>
                            <div class="icon-block">
                                <img class="icon" src="assets/images/home-1/icon/layer.png" alt="Icon" />
                            </div>
                        </div>
                        <div class="circle-border circle-2">
                            <div class="icon-block">
                                <img class="icon" src="assets/images/home-1/icon/firebase.png" alt="Icon" />
                            </div>
                            <div class="icon-block">
                                <img class="icon" src="assets/images/home-1/icon/figma.png" alt="Icon" />
                            </div>
                            <div class="icon-block">
                                <img class="icon" src="assets/images/home-1/icon/gmail.png" alt="Icon" />
                            </div>
                        </div>
                        <div class="circle-border circle-3">
                            <div class="icon-block">
                                <img class="icon" src="assets/images/home-1/icon/facebook.png" alt="Icon" />
                            </div>
                        </div>
                        <div class="circle-border circle-4">
                            <img src="assets/images/home-1/icon/tech.png" alt="Icon" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="robot-icon right-to-left-move" src="assets/images/home-1/icon/robot.png" alt="Icon" />
</section>
