<section class="cdx-hero-area-8">
    <div class="cdx-hero-wrap">
        <div class="cdx-left">
            <div class="cdx-hero-badge">
                <div class="cdx-icon-wrap">
                    <img class="cdx-icon" src="assets/images/home-8/icon/light.svg" alt="image" />
                    <p class="cdx-text">Next-Gen AI Idea</p>
                </div>
                <a class="cdx-btn-try" href="index-8.html">Try Now</a>
            </div>
            <h1 class="cdx-hero-title">Cutting-Edge AI Idea Presentation.</h1>
            <p class="cdx-hero-text">
                Quisque zitae odio id tellus ultricies egestas quis id orci id nunc faucibus ex Etiam ac enim ac nunc laoreet dignissim.
            </p>
            <a class="cdx-btn-fill-9" href="index-8.html">Create free AI video</a>
            <div class="box-in-shape-3"></div>
            <div class="box-in-shape-4"></div>
        </div>
        <div class="cdx-right">
            <img src="assets/images/home-8/hero/hero.webp" alt="image" />
        </div>
    </div>
</section>