<section class="cdx-hero-area-9 cdx-pt-120 cdx-pb-120" style="background-image: url(&quot;assets/images/home-9/hero/hero-bg.png&quot;)">
    <div class="cdx-hero-subtitle-wrapper">
        <div class="cdx-hero-subtitle d-flex align-items-center gap-2">
            <div class="cdx-wave">
                <span class="cdx-wave-handle"></span>
                <span class="cdx-wave-handle"></span>
                <span class="cdx-wave-handle"></span>
                <span class="cdx-wave-handle"></span>
                <span class="cdx-wave-handle"></span>
            </div>
            Text-to-speech generator
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xxl-10">
                <div class="cdx-hero-content-wrap text-center">
                    <h1 class="cdx-hero-title">
                        Title & vocal
                        <span class="text-border gradient-bg">
                            <span>extraction</span>
                        </span>
                        <span class="text-border solid-bg">
                            <span>Setup</span>
                        </span>
                        for producers.
                    </h1>
                    <p class="cdx-hero-description">
                        Suspendisse tincidunt nulla metus fermentum neque elementum sollicitudin suspendisse potenti. Etiam enim diam, feugiat et
                        urna.
                    </p>
                    <div class="cdx-hero-actions">
                        <a href="#" class="btn-primary-nine" aria-label="Join our Community now">
                            Join Community
                            <span class="inline-btn-arrow">
                                <img
                                    src="assets/images/home-9/icon/arrow-right-white.svg"
                                    alt="Arrow right"
                                    class="icon-arrow"
                                    width="12"
                                    height="12"
                                    loading="lazy"
                                />
                            </span>
                        </a>
                    </div>
                    <!-- Positional Elements -->
                    <ul class="d-none d-xl-block">
                        <li class="voice-badge">
                            <div class="multi-voice-support">
                                <div class="text">Multi-Voice</div>
                                <span class="cursor-icon"><img src="assets/images/home-9/icon/cursor-black.svg" alt="Cursor icon" /></span>
                            </div>
                        </li>
                        <li class="language-badge">
                            <div class="total-language-count">
                                <div class="text">358+ Languages</div>
                                <span class="cursor-icon"><img src="assets/images/home-9/icon/cursor-gradient.svg" alt="Cursor icon" /></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>