<section class="cdx-hero-area-7">
    <div class="container-fluid cdx-hero-wrap">
        <div class="row align-items-center gy-4 gy-lg-0">
            <div class="col-xl-6 col-md-7">
                <div class="cdx-hero-left">
                    <h1 class="cdx-section-title">The Next Generator Of Chatbots</h1>
                    <p class="cdx-section-content-5">
                        Quisque vitae odio id tellus ultricies egestas quis id orci. In id varius nunc faucibus ex. Etiam ac enim ac nunc laoreet
                        dignissim.
                    </p>
                    <form class="cdx-form-7" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="input-wrapper">
                                <span class="visually-hidden">Email Address</span>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Your Email" />
                            </label>
                            <button type="submit" class="btn-primary-seven" aria-label="Try Chatbot for Free">Try Chatbot for Free</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 col-md-5">
                <div class="cdx-hero-right">
                    <img class="cdx-img" src="assets/images/home-7/hero/here-img.webp" alt="image" />
                </div>
            </div>
        </div>
    </div>
    <img class="right-to-left-move" src="assets/images/home-7/hero/hero-icon.svg" alt="icon" />
</section>