/*=========================
    TECHNOLOGY CSS seven
==========================*/

.technology-area-7 {

    .cdx-technology-item {
        padding-right: 50px;
        @media #{$xl} {
            padding-right: 0px;
        }
    }
    .cdx-wrap {
        display: flex;
        align-items: center;  
        justify-content: center;   
    }
    .cdx-details {
        padding-top: 25px;
    }
    .cdx-title {
        color: #101221;    
        font-size: 20px;   
        font-weight: 700;
        line-height: 1.3; 
        letter-spacing: -0.6px;
    }
    .cdx-section-content-4 {
        color: #878890;
    }
    .cdx-line {
        width: 1px;
        height: 76px;
        margin:-20px 0px -5px 54px;
        border-left: 2px dashed rgba(16, 18, 33, 0.60);
        @media #{$xl} {
            height: 45px;      
        }
        @media #{$lg} {
            margin: -43px 0px -20px 57px;          
        }
    }   
    .cdx-technology-img {
        background-color: #F7E3F8;
        overflow: hidden;
        position: relative;
        .cdx-img-2 {
            position: absolute;
            top: 6%;
            left: -2%;
        }
    } 
 } 
 
