/*=========================
    TECHNOLOGY CSS
==========================*/
.cdx-technology-area {
  overflow: hidden;
  position: relative; 
  .robot-icon {
    position: absolute;
    bottom: 0%;
    right: 2%;
  }
  .cdx-section-content { 
    padding: 5px 50px 50px 0px;
  }
  .right {
    padding-left: 70px;
    @media #{$xxl} {
      padding-left: 0px;
    }
  }
  .circular-social-wrap {
    @media #{$lg} {
      margin: 0 auto;
    } 
    @media #{$sm} {
      display: none; 
    }
  }
  
}

// Social circular style 
.circular-social-wrap {  
  position: relative;
  width: 560px;
  height: 560px;
  border-radius: 50%;  
  background: linear-gradient(85deg, rgba(227, 180, 25, 0.06) 0%, rgba(35, 225, 115, 0.06) 50.5%, rgba(39, 161, 237, 0.06) 100%);
  
  .circle-1 {
    height: 100%;
    width: 100%;
    position: relative; 
    border-radius: 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    animation: Rotate 20s linear infinite;
    -webkit-animation: Rotate 20s linear infinite;  
  }

  .circle-border {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 50%; 
      padding: 1px;  ;
      background:linear-gradient(85deg, #E3B419 0%, #23E173 50.5%, #27A1ED 100%); 
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;  
    }
  }

  .icon-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    position: absolute;
    border-radius: 50%;
    width: 80px;
    height: 80px; 
    .icon {
      animation: Rotate-reverse 20s linear infinite;
      -webkit-animation: Rotate-reverse 20s linear infinite;
    }
  }
 
  .icon-block:first-child {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .icon-block:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
  }
  .icon-block:nth-child(3) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
  }
  .icon-block:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .circle-2 {
    animation: circle-rotate 20s linear infinite;
    -webkit-animation: circle-rotate 20s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }

  .circle-2 { 
    background: linear-gradient(85deg, rgba(227, 180, 25, 0.06) 0%, rgba(35, 225, 115, 0.06) 50.5%, rgba(39, 161, 237, 0.06) 100%);
    animation: circle-rotate 20s linear infinite;
    -webkit-animation: circle-rotate 20s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }

  .circle-3 {
    background: linear-gradient(85deg, rgba(227, 180, 25, 0.06) 0%, rgba(35, 225, 115, 0.06) 50.5%, rgba(39, 161, 237, 0.06) 100%); 
    animation: circle-rotate 20s linear infinite;
    -webkit-animation: circle-rotate 20s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    .icon-block:first-child {
      top: 0%;
      left: 42%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-169%, 100%);
    }
  }

  .circle-2 .icon-block .icon {
    animation: img-rotate 20s linear infinite;
    -webkit-animation: img-rotate 20s linear infinite;
  }

  .circle-3 .icon-block .icon {
    animation: img-rotate 20s linear infinite;
    -webkit-animation: img-rotate 20s linear infinite;
  }
  /* center logo */
  .circle-4 {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); 
  }

 
  @keyframes Rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes Rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes Rotate-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @-webkit-keyframes Rotate-reverse {
    from {
      -webkit-transform: rotate(360deg);
    }
    to {
      -webkit-transform: rotate(0deg);
    }
  }

  @keyframes circle-rotate {
    from {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(405deg);
    }
  }

  @-webkit-keyframes circle-rotate {
    from {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
    }
    to {
      -webkit-transform: translate(-50%, -50%) rotate(405deg);
    }
  }

  @keyframes img-rotate {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate(-405deg);
    }
  }

  @-webkit-keyframes img-rotate {
    from {
      -webkit-transform: rotate(-45deg);
    }
    to {
      -webkit-transform: rotate(-405deg);
    }
  }
}


.cdx-section-wrap { 
    border-top: 1px solid var(--gray-5); 
    position: relative; 
    &::before {
      position: absolute;
      top: 0%;
      left: 16%;
      width: 1px;
      height: 100%;
      background-color: var(--gray-5);
      content: "";
      z-index: -1;
      @media #{$xxxl} {
        left: 24.6%;
      }
      @media #{$xxl} {
        left: 5%;
      }
      @media #{$xl} {
        left: 9.2%;
      }
      @media #{$lg} {
        left: 4.2%;
      }
      @media #{$md} {
        display: none;
      }
    }
    &::after {
      position: absolute;
      top: 0%;
      right: 16%;
      width: 1px;
      height: 100%;
      background-color: var(--gray-4);
      content: "";
      z-index: -1;
      @media #{$xxxl} {
        right: 24.6%;
      }
      @media #{$xxl} {
        right: 5%;
      }
      @media #{$xl} {
        right: 9.2%;
      }
      @media #{$lg} {
        right: 4.2%;
      }
      @media #{$md} {
        display: none;
      }
    }
}

// Border line 
.sec-line {
    position: relative; 
    &::before {
      position: absolute;
      top: 0%;
      left: 50%;
      width: 1px;
      height: 100%;
      background-color: var(--gray-5);
      content: "";
      z-index: -1;
      @media #{$md} {
        display: none;
      }
    }
}
