<section class="cdx-brand-area">
    <div class="container">
        <div class="row align-items-center gy-5 gy-lg-0">
            <div class="col-lg-7">
                <div class="section-heading">
                    <h2 class="cdx-section-title cdx-dark">Brand conversations are Shaped by tone—bold, fun Formal, or digital-speak.</h2>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="cdx-icon-wrap">
                    <div class="cdx-icon-shape">
                        <div class="cdx-icon-ai">
                            <img src="assets/images/home-8/icon/ai.webp" alt="icon" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand items  -->
    <div class="cdx-brand-wrap">
        <!-- item  -->
        <div class="cdx-brand-item">
            <div class="cdx-icon-thumb">
                <img src="assets/images/home-8/icon/setting.svg" alt="icon" />
            </div>
            <p class="cdx-brand-text">Support for Multiple Languages</p>
        </div>
        <!-- item  -->
        <div class="cdx-brand-item">
            <div class="cdx-icon-thumb">
                <img src="assets/images/home-8/icon/badge.svg" alt="icon" />
            </div>
            <p class="cdx-brand-text">Referral Reward System</p>
        </div>
        <!-- item  -->
        <div class="cdx-brand-item">
            <div class="cdx-icon-thumb">
                <img src="assets/images/home-8/icon/wallet.svg" alt="icon" />
            </div>
            <p class="cdx-brand-text">Digital Payment Gateway System</p>
        </div>
        <!-- item  -->
        <div class="cdx-brand-item">
            <div class="cdx-icon-thumb">
                <img src="assets/images/home-8/icon/qr-code.svg" alt="icon" />
            </div>
            <p class="cdx-brand-text">Machine-generated Coding</p>
        </div>
        <!-- item  -->
        <div class="cdx-brand-item">
            <div class="cdx-icon-thumb">
                <img src="assets/images/home-8/icon/menu.svg" alt="icon" />
            </div>
            <p class="cdx-brand-text">Exceptional Dashboard Interface</p>
        </div>
    </div>
</section>