<section class="cdx-pattern-area cdx-pb-120">
    <div class="container">
        <!-- pattern item  -->
        <div class="row cdx-pattern-item cdx-mb-30">
            <div class="col-lg-6">
                <div class="cdx-track-left">
                    <img class="img-1" src="assets/images/home-8/pattern/1.webp" alt="icon" />
                    <img class="img-2" src="assets/images/home-8/pattern/2.webp" alt="icon" />
                    <img class="img-3" src="assets/images/home-8/pattern/3.webp" alt="icon" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="cdx-track-right">
                    <div class="cdx-hero-badge">
                        <div class="cdx-icon-wrap">
                            <img class="cdx-icon" src="assets/images/home-8/icon/light.svg" alt="icon" />
                            <p class="cdx-text">Chart or graph data</p>
                        </div>
                    </div>
                    <h2 class="cdx-section-title cdx-dark cdx-pb-40">Track usage patterns & regulate access.</h2>
                    <p class="cdx-section-content-2 text-gray cdx-pb-50">
                        Morbi ut risus libero sed at sollicitudin diam pellentesque morbi tristique senectus netus malesuada.
                    </p>
                    <ul class="cdx-track-list">
                        <li>
                            <p class="cdx-track-text">Most used templates</p>
                        </li>
                        <li>
                            <p class="cdx-track-text">Most used templates</p>
                        </li>
                        <li>
                            <p class="cdx-track-text">Frequently selected templates</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- pattern item -->
        <div class="row">
            <div class="cdx-pattern-item-grid">
                <div class="cdx-pattern-item-2">
                    <div class="cdx-pattern-warp">
                        <h3 class="cdx-section-title cdx-dark">Tailor-ready AI image easy to tweak hard to mishandle.</h3>
                        <div class="cdx-services-wrapper">
                            <!-- Blog Writing -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/blog-writing.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">Blog Writing</span>
                            </div>

                            <!-- Podcast -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/podcast.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">Podcast</span>
                            </div>

                            <!-- Blogging -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/blogging.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">Blogging</span>
                            </div>

                            <!-- Content Strategy -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/content-strategy.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">Content Strategy</span>
                            </div>

                            <!-- Ecommerce -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/ecommerce.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">Ecommerce</span>
                            </div>

                            <!-- SEO Marketing -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/seo.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">SEO Marketing</span>
                            </div>

                            <!-- Social Media -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/social-media.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">Social media</span>
                            </div>

                            <!-- Copywriting -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/copywriting.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">Copywriting</span>
                            </div>

                            <!-- Email Marketing -->
                            <div class="cdx-service-card-12">
                                <div class="icon-wrapper">
                                    <img class="cdx-image" src="assets/images/home-8/icon/email-marketing.svg" alt="icon" />
                                </div>
                                <span class="cdx-text">Email Marketing</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cdx-pattern-item-3">
                    <div class="cdx-pattern-warp">
                        <h3 class="cdx-section-title cdx-dark">Universal language & accent coverage.</h3>
                        <span class="cdx-count">235+</span>
                        <div class="cdx-slider-box">
                            <!-- slider  -->
                            <div class="cdx-countries swiper country-slider-2">
                                <div class="swiper-wrapper">
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/1.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Korea</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/2.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Japan</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/3.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Brazil</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/5.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Canada</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/6.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Norwegian</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/7.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Franch</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/8.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Afganistan</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/9.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Findland</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/5.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Canada</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/6.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Norwegian</p>
                                    </div>
                                </div>
                            </div>
                            <!-- slider  -->
                            <div class="cdx-countries swiper country-slider-reverse-2">
                                <div class="swiper-wrapper">
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/10.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Korea</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/11.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Japan</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/12.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Brazil</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/13.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Canada</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/14.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Norwegian</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/15.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Franch</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/16.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Afganistan</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/17.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Findland</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/13.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Canada</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/14.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Norwegian</p>
                                    </div>
                                </div>
                            </div>
                            <!-- slider  -->
                            <div class="cdx-countries swiper country-slider-2">
                                <div class="swiper-wrapper">
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/1.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Korea</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/2.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Japan</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/3.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Brazil</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/5.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Canada</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/6.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Norwegian</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/7.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Franch</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/8.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Afganistan</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/9.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Findland</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/5.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Canada</p>
                                    </div>
                                    <!-- slide  -->
                                    <div class="cdx-country dark swiper-slide">
                                        <div class="cdx-flug">
                                            <img src="assets/images/home-6/country/6.svg" alt="image" />
                                        </div>
                                        <p class="cdx-country-name">Norwegian</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>