<section class="payment-area-8" style="background-image: url(assets/images/home-8/shape/background-shape.webp)">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-xl-8 col-lg-7 col-md-6">
                <div class="cdx-payment-top text-center">
                    <h2 class="cdx-section-title cdx-dark">Extensive payment support across all use cases.</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center gy-4">
            <!-- card item -->
            <div class="col-lg-4 col-md-6">
                <div class="payment-card-8">
                    <div class="bank-payment">
                        <div class="cdx-details text-center">
                            <h3 class="cdx-section-title-xs text-gray">Bank ACH transfers</h3>
                            <p class="cdx-section-content-2 text-gray">Same-day or next-day bank transfer</p>
                        </div>
                        <div class="cdx-thumb-wrap">
                            <img class="cdx-thumb" src="assets/images/home-8/payment-card/bank-img .jpg" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- card item -->
            <div class="col-lg-4 col-md-6">
                <div class="payment-card-8">
                    <div class="cdx-details text-center">
                        <h3 class="cdx-section-title-xs text-gray">Online Card</h3>
                        <p class="cdx-section-content-2 text-gray">Same-day or next-day bank transfer</p>
                    </div>
                    <div class="swiper cdx-card-slider-8">
                        <div class="swiper-wrapper">
                            <!-- Slide -->
                            <div class="swiper-slide cdx-card-item">
                                <div class="cdx-img-wrap">
                                    <img class="cdx-img" src="assets/images/home-8/payment-card/online-payment-1.webp" alt="image" />
                                </div>
                            </div>
                            <!-- Slide -->
                            <div class="swiper-slide cdx-card-item">
                                <div class="cdx-img-wrap">
                                    <img class="cdx-img" src="assets/images/home-8/payment-card/online-payment-2.webp" alt="image" />
                                </div>
                            </div>
                            <!-- Slide -->
                            <div class="swiper-slide cdx-card-item">
                                <div class="cdx-img-wrap">
                                    <img class="cdx-img" src="assets/images/home-8/payment-card/online-payment-3.webp" alt="image" />
                                </div>
                            </div>
                            <!-- Slide -->
                            <div class="swiper-slide cdx-card-item">
                                <div class="cdx-img-wrap">
                                    <img class="cdx-img" src="assets/images/home-8/payment-card/online-payment-1.webp" alt="image" />
                                </div>
                            </div>
                            <!-- Slide -->
                            <div class="swiper-slide cdx-card-item">
                                <div class="cdx-img-wrap">
                                    <img class="cdx-img" src="assets/images/home-8/payment-card/online-payment-2.webp" alt="image" />
                                </div>
                            </div>
                            <!-- Slide -->
                            <div class="swiper-slide cdx-card-item">
                                <div class="cdx-img-wrap">
                                    <img class="cdx-img" src="assets/images/home-8/payment-card/online-payment-3.webp" alt="image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card item -->
            <div class="col-lg-4 col-md-6">
                <div class="payment-card-8">
                    <div class="cdx-details text-center">
                        <h3 class="cdx-section-title-xs text-gray">Backing Payment</h3>
                        <p class="cdx-section-content-2 text-gray">Expedited bank deposit, same or next day</p>
                    </div>
                    <div class="cdx-online-payment">
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-one.svg" alt="icon" />
                        </div>
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-two.svg" alt="icon" />
                        </div>
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-there.svg" alt="icon" />
                        </div>
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-four.svg" alt="icon" />
                        </div>
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-five.svg" alt="icon" />
                        </div>
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-six.svg" alt="icon" />
                        </div>
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-seven.svg" alt="icon" />
                        </div>
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-eight.svg" alt="icon" />
                        </div>
                        <div class="cdx-payment-box">
                            <img class="cdx-img" src="assets/images/home-8/icon/payment-nine.svg" alt="icon" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>