<section class="cdx-section-wrap">
    <div class="sec-line">
        <!-- Team area start  -->
        <div class="cdx-team-area cdx-pt-100">
            <div class="cdx-team-top cdx-pb-50">
                <div class="row gy-3">
                    <div class="col-xl-7 col-lg-6 col-md-10">
                        <h2 class="cdx-section-title">
                            Faces behind
                            <span class="title-mark">Artificial Intelligence</span>
                        </h2>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-10">
                        <p class="cdx-section-content">
                            There are many variations of passages of Lorem Ipsum available but the majority have suffered Alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Slider  -->
                <div class="swiper cdx-team-slider cdx-pb-120">
                    <div class="swiper-wrapper">
                        <!-- Slide -->
                        <div class="swiper-slide cdx-team-item">
                            <div class="thumb-wrap">
                                <img class="thumb" src="assets/images/home-1/team/team-1.webp" alt="Team" />
                            </div>
                            <div class="cdx-team-btm show">
                                <div class="title-item">
                                    <div class="details">
                                        <h3 class="name">
                                            <img src="assets/images/home-1/icon/polygon-icon.svg" alt="Icon" />
                                            Wisteria Ravenclaw
                                        </h3>
                                        <span class="designation">Founder & Ceo</span>
                                    </div>
                                    <div class="team-btn">
                                        <div class="team-icon-wrap">
                                            <img class="plus-icon" src="assets/images/home-1/icon/plus-white.svg" alt="Icon" />
                                        </div>
                                        <span class="bio-text">Bio</span>
                                    </div>
                                </div>
                                <p class="discription">
                                    Quisque vitae odio id tellus ultricies egestas quis id orci. In varius nunc, ut faucibus ex. Etiam ac enim ac nunc
                                    laoreet dignissim in nec elit donec pulvinar in ipsum ut facilisis.
                                </p>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide cdx-team-item">
                            <div class="thumb-wrap">
                                <img class="thumb" src="assets/images/home-1/team/team-2.webp" alt="Team" />
                            </div>
                            <div class="cdx-team-btm">
                                <div class="title-item">
                                    <div class="details">
                                        <h3 class="name">
                                            <img src="assets/images/home-1/icon/polygon-icon.svg" alt="Icon" />
                                            Ravencla Adam
                                        </h3>
                                        <span class="designation">Chief Operations Officer</span>
                                    </div>
                                    <div class="team-btn">
                                        <div class="team-icon-wrap">
                                            <img class="plus-icon" src="assets/images/home-1/icon/plus-white.svg" alt="Icon" />
                                        </div>
                                        <span class="bio-text">Bio</span>
                                    </div>
                                </div>
                                <p class="discription">
                                    Quisque vitae odio id tellus ultricies egestas quis id orci. In varius nunc, ut faucibus ex. Etiam ac enim ac nunc
                                    laoreet dignissim in nec elit donec pulvinar in ipsum ut facilisis.
                                </p>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide cdx-team-item">
                            <div class="thumb-wrap">
                                <img class="thumb" src="assets/images/home-1/team/team-3.webp" alt="Team" />
                            </div>
                            <div class="cdx-team-btm">
                                <div class="title-item">
                                    <div class="details">
                                        <h3 class="name">
                                            <img src="assets/images/home-1/icon/polygon-icon.svg" alt="Icon" />
                                            Ben Ravenclaw
                                        </h3>
                                        <span class="designation">Chief Operations Director</span>
                                    </div>
                                    <div class="team-btn">
                                        <div class="team-icon-wrap">
                                            <img class="plus-icon" src="assets/images/home-1/icon/plus-white.svg" alt="Icon" />
                                        </div>
                                        <span class="bio-text">Bio</span>
                                    </div>
                                </div>
                                <p class="discription">
                                    Quisque vitae odio id tellus ultricies egestas quis id orci. In varius nunc, ut faucibus ex. Etiam ac enim ac nunc
                                    laoreet dignissim in nec elit donec pulvinar in ipsum ut facilisis.
                                </p>
                            </div>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide cdx-team-item">
                            <div class="thumb-wrap">
                                <img class="thumb" src="assets/images/home-1/team/team-2.webp" alt="Team" />
                            </div>
                            <div class="cdx-team-btm">
                                <div class="title-item">
                                    <div class="details">
                                        <h3 class="name">
                                            <img src="assets/images/home-1/icon/polygon-icon.svg" alt="Icon" />
                                            Wisteria Ravenclaw
                                        </h3>
                                        <span class="designation">Founder & Ceo</span>
                                    </div>
                                    <div class="team-btn">
                                        <div class="team-icon-wrap">
                                            <img class="plus-icon" src="assets/images/home-1/icon/plus-white.svg" alt="Icon" />
                                        </div>
                                        <span class="bio-text">Bio</span>
                                    </div>
                                </div>
                                <p class="discription">
                                    Quisque vitae odio id tellus ultricies egestas quis id orci. In varius nunc, ut faucibus ex. Etiam ac enim ac nunc
                                    laoreet dignissim in nec elit donec pulvinar in ipsum ut facilisis.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Navigation -->
                <div class="navigation-wrap">
                    <div class="team-prev navigation-btn">
                        <img class="icon" src="assets/images/home-1/icon/arrow-down-sm.svg" alt="Icon" />
                    </div>
                    <div class="team-next navigation-btn">
                        <img class="icon" src="assets/images/home-1/icon/arrow-up-sm.svg" alt="Icon" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Team area end  -->

        <!-- Client area start  -->
        <div class="cdx-client-area cdx-pt-100">
            <div class="client-top cdx-pb-50">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-7 col-lg-6 col-md-10">
                            <h2 class="cdx-section-title">
                                Trusted by 20,000+
                                <span class="title-mark d-block">Marketing Departments.</span>
                            </h2>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-10">
                            <p class="cdx-section-content">
                                There are many variations of passages of Lorem Ipsum available but the majority have suffered Alteration in some form.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row g-0 client-border">
                    <div class="col-lg-6">
                        <div class="cdx-client-item">
                            <img src="assets/images/home-1/logo/hubspot.png" alt="Client Logo" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cdx-client-item">
                            <img src="assets/images/home-1/logo/amazon.png" alt="Client Logo" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cdx-client-item">
                            <img src="assets/images/home-1/logo/airbanb.png" alt="Client Logo" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cdx-client-item">
                            <img src="assets/images/home-1/logo/fedex.png" alt="Client Logo" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Client area end  -->

        <!-- Testimonial area start  -->
        <div class="cdx-testimonial-area cdx-pt-100">
            <div class="testimonial-top cdx-pb-50">
                <div class="row">
                    <div class="col-xl-7 col-lg-6 col-md-10">
                        <h2 class="cdx-section-title">
                            Faces behind
                            <span class="title-mark d-block">Artificial Intelligence</span>
                        </h2>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-10">
                        <p class="cdx-section-content">
                            There are many variations of passages of Lorem Ipsum available but the majority have suffered Alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Slider  -->
                <div class="swiper testimonial-slider cdx-pb-120">
                    <div class="swiper-wrapper">
                        <!-- Slide -->
                        <div class="swiper-slide cdx-testimonial-item">
                            <div class="top-wrap">
                                <div class="author-wrap">
                                    <div class="author-img">
                                        <div class="thumb-wrap">
                                            <img class="thumb" src="assets/images/home-1/blog/author-1.jpg" alt="Blog" />
                                        </div>
                                        <div class="icon-wrap">
                                            <img src="assets/images/home-1/icon/star-white.svg" alt="Icon" />
                                        </div>
                                    </div>
                                    <div class="details">
                                        <h3 class="name">Hanson</h3>
                                        <span class="username">@kawyate 07</span>
                                    </div>
                                </div>
                                <div class="review">
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                </div>
                            </div>
                            <p class="content">
                                Praesent mollis tortor augu lacinia cursus leo Suspendisse quis sed odio dictumSed Mattis eros lectors, eu fermentum
                                Felis laborites convallis. Nam Felis arco, sed mi Faubus quips.
                            </p>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide cdx-testimonial-item">
                            <div class="top-wrap">
                                <div class="author-wrap">
                                    <div class="author-img">
                                        <div class="thumb-wrap">
                                            <img class="thumb" src="assets/images/home-1/blog/author-2.jpg" alt="Blog" />
                                        </div>
                                        <div class="icon-wrap">
                                            <img src="assets/images/home-1/icon/star-white.svg" alt="Icon" />
                                        </div>
                                    </div>
                                    <div class="details">
                                        <h3 class="name">Jobin</h3>
                                        <span class="username">@jobin 07</span>
                                    </div>
                                </div>
                                <div class="review">
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                </div>
                            </div>
                            <p class="content">
                                Praesent mollis tortor augu lacinia cursus leo Suspendisse quis sed odio dictumSed Mattis eros lectors, eu fermentum
                                Felis laborites convallis. Nam Felis arco, sed mi Faubus quips.
                            </p>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide cdx-testimonial-item">
                            <div class="top-wrap">
                                <div class="author-wrap">
                                    <div class="author-img">
                                        <div class="thumb-wrap">
                                            <img class="thumb" src="assets/images/home-1/blog/author-3.jpg" alt="Blog" />
                                        </div>
                                        <div class="icon-wrap">
                                            <img src="assets/images/home-1/icon/star-white.svg" alt="Icon" />
                                        </div>
                                    </div>
                                    <div class="details">
                                        <h3 class="name">Maklon</h3>
                                        <span class="username">@maklon 07</span>
                                    </div>
                                </div>
                                <div class="review">
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                </div>
                            </div>
                            <p class="content">
                                Praesent mollis tortor augu lacinia cursus leo Suspendisse quis sed odio dictumSed Mattis eros lectors, eu fermentum
                                Felis laborites convallis. Nam Felis arco, sed mi Faubus quips.
                            </p>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide cdx-testimonial-item">
                            <div class="top-wrap">
                                <div class="author-wrap">
                                    <div class="author-img">
                                        <div class="thumb-wrap">
                                            <img class="thumb" src="assets/images/home-1/blog/author-2.jpg" alt="Blog" />
                                        </div>
                                        <div class="icon-wrap">
                                            <img src="assets/images/home-1/icon/star-white.svg" alt="Icon" />
                                        </div>
                                    </div>
                                    <div class="details">
                                        <h3 class="name">Hanson</h3>
                                        <span class="username">@kawyate 07</span>
                                    </div>
                                </div>
                                <div class="review">
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                    <img class="icon" src="assets/images/home-1/icon/star-red.svg" alt="Icon" />
                                </div>
                            </div>
                            <p class="content">
                                Praesent mollis tortor augu lacinia cursus leo Suspendisse quis sed odio dictumSed Mattis eros lectors, eu fermentum
                                Felis laborites convallis. Nam Felis arco, sed mi Faubus quips.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Navigation -->
                <div class="navigation-wrap">
                    <div class="testimonial-prev navigation-btn">
                        <img class="icon" src="assets/images/home-1/icon/arrow-down-sm.svg" alt="Icon" />
                    </div>
                    <div class="testimonial-next navigation-btn">
                        <img class="icon" src="assets/images/home-1/icon/arrow-up-sm.svg" alt="Icon" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial area end  -->

        <!-- Blog area start  -->
        <div class="cdx-blog-area cdx-pt-100">
            <div class="blog-top cdx-pb-50">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-10">
                        <h2 class="cdx-section-title">
                            Don't miss any of the updates
                            <span class="title-mark">Latest from the blog</span>
                        </h2>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-10">
                        <p class="cdx-section-content">
                            There are many variations of passages of Lorem Ipsum available but the majority have suffered Alteration in some form.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Slider  -->
                <div class="swiper blog-slider cdx-pb-120">
                    <div class="swiper-wrapper">
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <article class="cdx-blog-item">
                                <img class="thumb" src="assets/images/home-1/blog/blog-1.webp" alt="Blog" />
                                <ul class="meta">
                                    <li class="meta-list">November 13, 2024</li>
                                    <li class="meta-list">03 Min</li>
                                    <li class="meta-list">
                                        <a class="meta-link" href="#">Incubations/Idos</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a class="title" href="blog-detail">The Ethical Implications of AI Generated Images</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="author">
                                        <img class="author-img" src="assets/images/home-1/blog/author-1.jpg" alt="Image" />
                                    </div>
                                    <div class="details">
                                        <p class="text">
                                            <span class="author-text">By</span>
                                            Malcolm Function.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <article class="cdx-blog-item">
                                <img class="thumb" src="assets/images/home-1/blog/blog-2.webp" alt="Blog" />
                                <ul class="meta">
                                    <li class="meta-list">November 13, 2024</li>
                                    <li class="meta-list">03 Min</li>
                                    <li class="meta-list">
                                        <a class="meta-link" href="#">Incubations/Idos</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a class="title" href="blog-detail">Our work shows real results from a wide Range of clients.</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="author">
                                        <img class="author-img" src="assets/images/home-1/blog/author-2.jpg" alt="Image" />
                                    </div>
                                    <div class="details">
                                        <p class="text">
                                            <span class="author-text">By</span>
                                            Valentino Morose
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <article class="cdx-blog-item">
                                <img class="thumb" src="assets/images/home-1/blog/blog-3.webp" alt="Blog" />
                                <ul class="meta">
                                    <li class="meta-list">November 13, 2024</li>
                                    <li class="meta-list">03 Min</li>
                                    <li class="meta-list">
                                        <a class="meta-link" href="#">Incubations/Idos</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a class="title" href="blog-detail">The story about company that created VR influencer</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="author">
                                        <img class="author-img" src="assets/images/home-1/blog/author-3.jpg" alt="Image" />
                                    </div>
                                    <div class="details">
                                        <p class="text">
                                            <span class="author-text">By</span>
                                            Bodrum Salvador
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- Slide -->
                        <div class="swiper-slide">
                            <article class="cdx-blog-item">
                                <img class="thumb" src="assets/images/home-1/blog/blog-2.webp" alt="Blog" />
                                <ul class="meta">
                                    <li class="meta-list">November 13, 2024</li>
                                    <li class="meta-list">03 Min</li>
                                    <li class="meta-list">
                                        <a class="meta-link" href="#">Incubations/Idos</a>
                                    </li>
                                </ul>
                                <h3>
                                    <a class="title" href="blog-detail">The Ethical Implications of AI Generated Images</a>
                                </h3>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="author">
                                        <img class="author-img" src="assets/images/home-1/blog/author-2.jpg" alt="Image" />
                                    </div>
                                    <div class="details">
                                        <p class="text">
                                            <span class="author-text">By</span>
                                            Malcolm Function.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <!-- Navigation -->
                <div class="navigation-wrap">
                    <div class="button-prev navigation-btn">
                        <img class="icon" src="assets/images/home-1/icon/arrow-down-sm.svg" alt="Icon" />
                    </div>
                    <div class="button-next navigation-btn">
                        <img class="icon" src="assets/images/home-1/icon/arrow-up-sm.svg" alt="Icon" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog area end  -->

        <!-- Social area start  -->
        <div class="cdx-social-area cdx-pt-120">
            <div class="container">
                <div class="row g-md-0 gy-lg-0 gy-4 social-border">
                    <div class="col-lg-6 col-md-3 col-6 social-box">
                        <div class="cdx-social-item">
                            <span class="subtext">Join Our</span>
                            <a class="social-btn" href="#" target="_blank">
                                Telegram
                                <img class="icon" src="assets/images/home-1/icon/arrow-up-sm.svg" alt="Icon" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-6 social-box">
                        <div class="cdx-social-item">
                            <span class="subtext">Hop Info</span>
                            <a class="social-btn" href="#" target="_blank">
                                Dicord
                                <img class="icon" src="assets/images/home-1/icon/arrow-up-sm.svg" alt="Icon" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-6 social-box">
                        <div class="cdx-social-item">
                            <span class="subtext">Follow Us</span>
                            <a class="social-btn" href="#" target="_blank">
                                Twitter
                                <img class="icon" src="assets/images/home-1/icon/arrow-up-sm.svg" alt="Icon" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-3 col-6 social-box">
                        <div class="cdx-social-item">
                            <span class="subtext">Drop Us a Message</span>
                            <a class="social-btn" href="#" target="_blank">
                                Contact
                                <img class="icon" src="assets/images/home-1/icon/arrow-up-sm.svg" alt="Icon" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="icon-box">
                    <div class="icon-lg gradient-border">
                        <img src="assets/images/home-1/icon/logo-tech.png" alt="Icon" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Social area end  -->
    </div>
</section>